openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Financials API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: financials
paths:
  /stocks/financials/v1/balance-sheets:
    get:
      description: A comprehensive financial dataset containing quarterly and annual balance sheet data for public companies. Includes detailed asset, liability, and equity positions representing the company's financial position at specific points in time. Balance sheet data represents point-in-time snapshots rather than cumulative flows, showing what the company owns, owes, and shareholders' equity as of each period end date.
      operationId: get_stocks_financials_v1_balance-sheets
      parameters:
      - description: The company's Central Index Key (CIK), a unique identifier assigned by the U.S. Securities and Exchange Commission (SEC). You can look up a company's CIK using the [SEC CIK Lookup tool](https://www.sec.gov/search-filings/cik-lookup).
        in: query
        name: cik
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: cik.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: cik.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: cik.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: cik.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: cik.lte
        schema:
          type: string
      - description: Filter for arrays that contain the value.
        in: query
        name: tickers
        schema:
          type: string
      - description: Filter for arrays that contain all of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: tickers.all_of
        schema:
          type: string
      - description: Filter for arrays that contain any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: tickers.any_of
        schema:
          type: string
      - description: The last date of the reporting period, representing the specific point in time when the balance sheet snapshot was taken. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end
        schema:
          type: string
      - description: Filter greater than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.lte
        schema:
          type: string
      - description: The date of the most recent SEC filing that included this period's data. This is not necessarily the date this period was originally filed. Because SEC filings restate comparative data for prior periods, multiple records can share the same filing_date. For example, an annual 10-K reports three years of results, and a 10-Q includes prior period comparatives. To find the original filing date for a specific 10-K or 10-Q, use the SEC EDGAR filings index endpoint (/stocks/filings/vX/index). Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date
        schema:
          type: string
      - description: Filter greater than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.lte
        schema:
          type: string
      - description: The fiscal year for the reporting period. Value must be a floating point number.
        in: query
        name: fiscal_year
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: fiscal_year.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_year.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: fiscal_year.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_year.lte
        schema:
          format: double
          type: number
      - description: The fiscal quarter number (1, 2, 3, or 4) for the reporting period. Value must be a floating point number.
        in: query
        name: fiscal_quarter
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.lte
        schema:
          format: double
          type: number
      - description: 'The reporting period type. Possible values include: quarterly, annual.'
        in: query
        name: timeframe
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: timeframe.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: timeframe.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: timeframe.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: timeframe.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: timeframe.lte
        schema:
          type: string
      - description: Limit the maximum number of results returned. Defaults to '100' if not specified. The maximum allowed limit is '50000'.
        in: query
        name: limit
        schema:
          default: 100
          maximum: 50000
          minimum: 1
          type: integer
      - description: A comma separated list of sort columns. For each column, append '.asc' or '.desc' to specify the sort direction. The sort column defaults to 'period_end' if not specified. The sort order defaults to 'asc' if not specified.
        in: query
        name: sort
        schema:
          default: period_end.asc
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: d9f86384d43845a4a3d7b79098fb08dd
                results:
                - accounts_payable: 50374000000
                  accrued_and_other_current_liabilities: 62499000000
                  accumulated_other_comprehensive_income: -6369000000
                  cash_and_equivalents: 36269000000
                  cik: 0000320193
                  common_stock: 89806000000
                  debt_current: 19268000000
                  deferred_revenue_current: 8979000000
                  filing_date: '2025-08-01'
                  fiscal_quarter: 3
                  fiscal_year: 2025
                  inventories: 5925000000
                  long_term_debt_and_capital_lease_obligations: 82430000000
                  other_assets: 160496000000
                  other_current_assets: 14359000000
                  other_equity: 0
                  other_noncurrent_liabilities: 42115000000
                  period_end: '2025-06-28'
                  property_plant_equipment_net: 48508000000
                  receivables: 46835000000
                  retained_earnings_deficit: -17607000000
                  tickers:
                  - AAPL
                  timeframe: quarterly
                  total_assets: 331495000000
                  total_current_assets: 103388000000
                  total_current_liabilities: 141120000000
                  total_equity: 65830000000
                  total_equity_attributable_to_parent: 65830000000
                  total_liabilities: 265665000000
                  total_liabilities_and_equity: 331495000000
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        accounts_payable:
                          description: Amounts owed to suppliers and vendors for goods and services purchased on credit.
                          format: double
                          type: number
                        accrued_and_other_current_liabilities:
                          description: Current liabilities not classified elsewhere, including accrued expenses, taxes payable, and other obligations due within one year.
                          format: double
                          type: number
                        accumulated_other_comprehensive_income:
                          description: Cumulative gains and losses that bypass the income statement, including foreign currency translation adjustments and unrealized gains/losses on securities.
                          format: double
                          type: number
                        additional_paid_in_capital:
                          description: Amount received from shareholders in excess of the par or stated value of shares issued.
                          format: double
                          type: number
                        cash_and_equivalents:
                          description: Cash on hand and short-term, highly liquid investments that are readily convertible to known amounts of cash.
                          format: double
                          type: number
                        cik:
                          description: The company's Central Index Key (CIK), a unique identifier assigned by the U.S. Securities and Exchange Commission (SEC). You can look up a company's CIK using the [SEC CIK Lookup tool](https://www.sec.gov/search-filings/cik-lookup).
                          type: string
                        commitments_and_contingencies:
                          description: Disclosed amount related to contractual commitments and potential liabilities that may arise from uncertain future events.
                          format: double
                          type: number
                        common_stock:
                          description: Par or stated value of common shares outstanding representing basic ownership in the company.
                          format: double
                          type: number
                        debt_current:
                          description: Short-term borrowings and the current portion of long-term debt due within one year.
                          format: double
                          type: number
                        deferred_revenue_current:
                          description: Customer payments received in advance for goods or services to be delivered within one year.
                          format: double
                          type: number
                        filing_date:
                          description: The date of the most recent SEC filing that included this period's data. This is not necessarily the date this period was originally filed. Because SEC filings restate comparative data for prior periods, multiple records can share the same filing_date. For example, an annual 10-K reports three years of results, and a 10-Q includes prior period comparatives. To find the original filing date for a specific 10-K or 10-Q, use the SEC EDGAR filings index endpoint (/stocks/filings/vX/index).
                          format: date
                          type: string
                        fiscal_quarter:
                          description: The fiscal quarter number (1, 2, 3, or 4) for the reporting period.
                          format: double
                          type: number
                        fiscal_year:
                          description: The fiscal year for the reporting period.
                          format: double
                          type: number
                        goodwill:
                          description: Intangible asset representing the excess of purchase price over fair value of net assets acquired in business combinations.
                          format: double
                          type: number
                        intangible_assets_net:
                          description: Intangible assets other than goodwill, including patents, trademarks, and customer relationships, net of accumulated amortization.
                          format: double
                          type: number
                        inventories:
                          description: Raw materials, work-in-process, and finished goods held for sale in the ordinary course of business.
                          format: double
                          type: number
                        long_term_debt_and_capital_lease_obligations:
                          description: Long-term borrowings and capital lease obligations with maturities greater than one year.
                          format: double
                          type: number
                        noncontrolling_interest:
                          description: Equity in consolidated subsidiaries not owned by the parent company, representing minority shareholders' ownership.
                          format: double
                          type: number
                        other_assets:
                          description: Non-current assets not classified elsewhere, including long-term investments, deferred tax assets, and other long-term assets.
                          format: double
                          type: number
                        other_current_assets:
                          description: Current assets not classified elsewhere, including prepaid expenses, taxes receivable, and other assets expected to be converted to cash within one year.
                          format: double
                          type: number
                        other_equity:
                          description: Equity components not classified elsewhere in shareholders' equity.
                          format: double
                          type: number
                        other_noncurrent_liabilities:
                          description: Non-current liabilities not classified elsewhere, including deferred tax liabilities, pension obligations, and other long-term liabilities.
                          format: double
                          type: number
                        period_end:
                          description: The last date of the reporting period, representing the specific point in time when the balance sheet snapshot was taken.
                          format: date
                          type: string
                        preferred_stock:
                          description: Par or stated value of preferred shares outstanding with preferential rights over common stock.
                          format: double
                          type: number
                        property_plant_equipment_net:
                          description: Tangible fixed assets used in operations, reported net of accumulated depreciation.
                          format: double
                          type: number
                        receivables:
                          description: Amounts owed to the company by customers and other parties, primarily accounts receivable, net of allowances for doubtful accounts.
                          format: double
                          type: number
                        retained_earnings_deficit:
                          description: Cumulative net income earned by the company less dividends paid to shareholders since inception.
                          format: double
                          type: number
                        short_term_investments:
                          description: Marketable securities and other investments with maturities of one year or less that are not classified as cash equivalents.
                          format: double
                          type: number
                        tickers:
                          description: A list of ticker symbols under which the company is listed. Multiple symbols may indicate different share classes for the same company.
                          items:
                            type: string
                          type: array
                        timeframe:
                          description: 'The reporting period type. Possible values include: quarterly, annual.'
                          type: string
                        total_assets:
                          description: Sum of all current and non-current assets representing everything the company owns or controls.
                          format: double
                          type: number
                        total_current_assets:
                          description: Sum of all current assets expected to be converted to cash, sold, or consumed within one year.
                          format: double
                          type: number
                        total_current_liabilities:
                          description: Sum of all liabilities expected to be settled within one year.
                          format: double
                          type: number
                        total_equity:
                          description: Sum of all equity components representing shareholders' total ownership interest in the company.
                          format: double
                          type: number
                        total_equity_attributable_to_parent:
                          description: Total shareholders' equity attributable to the parent company, excluding noncontrolling interests.
                          format: double
                          type: number
                        total_liabilities:
                          description: Sum of all current and non-current liabilities representing everything the company owes.
                          format: double
                          type: number
                        total_liabilities_and_equity:
                          description: Sum of total liabilities and total equity, which should equal total assets per the fundamental accounting equation.
                          format: double
                          type: number
                        treasury_stock:
                          description: Cost of the company's own shares that have been repurchased and are held in treasury, typically reported as a negative value.
                          format: double
                          type: number
                      required:
                      - timeframe
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - financials
  /stocks/financials/v1/cash-flow-statements:
    get:
      description: A comprehensive financial dataset containing quarterly, annual, and trailing twelve-month cash flow statement data for public companies. Includes detailed operating, investing, and financing cash flows with proper TTM calculations that sum all cash flow components over four quarters. TTM records are validated to ensure exactly four distinct quarters spanning 250-400 days for accurate trailing twelve-month cash flow analysis.
      operationId: get_stocks_financials_v1_cash-flow-statements
      parameters:
      - description: The company's Central Index Key (CIK), a unique identifier assigned by the U.S. Securities and Exchange Commission (SEC). You can look up a company’s CIK using the [SEC CIK Lookup tool](https://www.sec.gov/search-filings/cik-lookup).
        in: query
        name: cik
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: cik.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: cik.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: cik.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: cik.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: cik.lte
        schema:
          type: string
      - description: The last date of the reporting period (formatted as YYYY-MM-DD). Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end
        schema:
          type: string
      - description: Filter greater than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.lte
        schema:
          type: string
      - description: The date of the most recent SEC filing that included this period's data. This is not necessarily the date this period was originally filed. Because SEC filings restate comparative data for prior periods, multiple records can share the same filing_date. For example, an annual 10-K reports three years of results, and a 10-Q includes prior period comparatives. To find the original filing date for a specific 10-K or 10-Q, use the SEC EDGAR filings index endpoint (/stocks/filings/vX/index). Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date
        schema:
          type: string
      - description: Filter greater than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.lte
        schema:
          type: string
      - description: Filter for arrays that contain the value.
        in: query
        name: tickers
        schema:
          type: string
      - description: Filter for arrays that contain all of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: tickers.all_of
        schema:
          type: string
      - description: Filter for arrays that contain any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: tickers.any_of
        schema:
          type: string
      - description: The fiscal year for the reporting period. Value must be a floating point number.
        in: query
        name: fiscal_year
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: fiscal_year.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_year.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: fiscal_year.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_year.lte
        schema:
          format: double
          type: number
      - description: The fiscal quarter number (1, 2, 3, or 4) for the reporting period. Value must be a floating point number.
        in: query
        name: fiscal_quarter
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.lte
        schema:
          format: double
          type: number
      - description: 'The reporting period type. Possible values include: quarterly, annual, trailing_twelve_months.'
        in: query
        name: timeframe
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: timeframe.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: timeframe.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: timeframe.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: timeframe.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: timeframe.lte
        schema:
          type: string
      - description: Limit the maximum number of results returned. Defaults to '100' if not specified. The maximum allowed limit is '50000'.
        in: query
        name: limit
        schema:
          default: 100
          maximum: 50000
          minimum: 1
          type: integer
      - description: A comma separated list of sort columns. For each column, append '.asc' or '.desc' to specify the sort direction. The sort column defaults to 'period_end' if not specified. The sort order defaults to 'asc' if not specified.
        in: query
        name: sort
        schema:
          default: period_end.asc
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: d6d389ca03a0450d93c4ecb13ff26dae
                results:
                - cash_from_operating_activities_continuing_operations: 27867000000
                  change_in_cash_and_equivalents: 8107000000
                  change_in_other_operating_assets_and_liabilities_net: -2034000000
                  cik: 0000320193
                  depreciation_depletion_and_amortization: 2830000000
                  dividends: -3945000000
                  filing_date: '2025-08-01'
                  fiscal_quarter: 3
                  fiscal_year: 2025
                  long_term_debt_issuances_repayments: -1192000000
                  net_cash_from_financing_activities: -24833000000
                  net_cash_from_financing_activities_continuing_operations: -24833000000
                  net_cash_from_investing_activities: 5073000000
                  net_cash_from_investing_activities_continuing_operations: 5073000000
                  net_cash_from_operating_activities: 27867000000
                  net_income: 23434000000
                  other_financing_activities: -23599000000
                  other_investing_activities: 8535000000
                  other_operating_activities: 3637000000
                  period_end: '2025-06-28'
                  purchase_of_property_plant_and_equipment: -3462000000
                  short_term_debt_issuances_repayments: 3903000000
                  tickers:
                  - AAPL
                  timeframe: quarterly
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        cash_from_operating_activities_continuing_operations:
                          description: Cash generated from continuing business operations before discontinued operations.
                          format: double
                          type: number
                        change_in_cash_and_equivalents:
                          description: Net change in cash and cash equivalents during the period, representing the sum of operating, investing, and financing cash flows plus currency effects.
                          format: double
                          type: number
                        change_in_other_operating_assets_and_liabilities_net:
                          description: Net change in working capital components including accounts receivable, inventory, accounts payable, and other operating items.
                          format: double
                          type: number
                        cik:
                          description: The company's Central Index Key (CIK), a unique identifier assigned by the U.S. Securities and Exchange Commission (SEC). You can look up a company’s CIK using the [SEC CIK Lookup tool](https://www.sec.gov/search-filings/cik-lookup).
                          type: string
                        depreciation_depletion_and_amortization:
                          description: Non-cash charges for the reduction in value of tangible and intangible assets over time.
                          format: double
                          type: number
                        dividends:
                          description: Cash payments to shareholders in the form of dividends, typically reported as negative values.
                          format: double
                          type: number
                        effect_of_currency_exchange_rate:
                          description: Impact of foreign exchange rate changes on cash and cash equivalents denominated in foreign currencies.
                          format: double
                          type: number
                        filing_date:
                          description: The date of the most recent SEC filing that included this period's data. This is not necessarily the date this period was originally filed. Because SEC filings restate comparative data for prior periods, multiple records can share the same filing_date. For example, an annual 10-K reports three years of results, and a 10-Q includes prior period comparatives. To find the original filing date for a specific 10-K or 10-Q, use the SEC EDGAR filings index endpoint (/stocks/filings/vX/index).
                          format: date
                          type: string
                        fiscal_quarter:
                          description: The fiscal quarter number (1, 2, 3, or 4) for the reporting period.
                          format: double
                          type: number
                        fiscal_year:
                          description: The fiscal year for the reporting period.
                          format: double
                          type: number
                        income_loss_from_discontinued_operations:
                          description: After-tax income or loss from business operations that have been discontinued.
                          format: double
                          type: number
                        long_term_debt_issuances_repayments:
                          description: Net cash flows from issuing or repaying long-term debt obligations.
                          format: double
                          type: number
                        net_cash_from_financing_activities:
                          description: Total cash generated or used by financing activities, including debt issuance, debt repayment, dividends, and share transactions.
                          format: double
                          type: number
                        net_cash_from_financing_activities_continuing_operations:
                          description: Cash flows from financing activities of continuing operations before discontinued operations.
                          format: double
                          type: number
                        net_cash_from_financing_activities_discontinued_operations:
                          description: Cash flows from financing activities of discontinued business segments.
                          format: double
                          type: number
                        net_cash_from_investing_activities:
                          description: Total cash generated or used by investing activities, including capital expenditures, acquisitions, and asset sales.
                          format: double
                          type: number
                        net_cash_from_investing_activities_continuing_operations:
                          description: Cash flows from investing activities of continuing operations before discontinued operations.
                          format: double
                          type: number
                        net_cash_from_investing_activities_discontinued_operations:
                          description: Cash flows from investing activities of discontinued business segments.
                          format: double
                          type: number
                        net_cash_from_operating_activities:
                          description: Total cash generated or used by operating activities, representing cash flow from core business operations.
                          format: double
                          type: number
                        net_cash_from_operating_activities_discontinued_operations:
                          description: Cash flows from operating activities of discontinued business segments.
                          format: double
                          type: number
                        net_income:
                          description: Net income used as the starting point for operating cash flow calculations.
                          format: double
                          type: number
                        noncontrolling_interests:
                          description: Cash flows related to minority shareholders in consolidated subsidiaries.
                          format: double
                          type: number
                        other_cash_adjustments:
                          description: Other miscellaneous adjustments to cash flows not classified elsewhere.
                          format: double
                          type: number
                        other_financing_activities:
                          description: Cash flows from financing activities not classified elsewhere, including share repurchases and other equity transactions.
                          format: double
                          type: number
                        other_investing_activities:
                          description: Cash flows from investing activities not classified elsewhere, including acquisitions, divestitures, and investments.
                          format: double
                          type: number
                        other_operating_activities:
                          description: Other adjustments to reconcile net income to operating cash flow not classified elsewhere.
                          format: double
                          type: number
                        period_end:
                          description: The last date of the reporting period (formatted as YYYY-MM-DD).
                          format: date
                          type: string
                        purchase_of_property_plant_and_equipment:
                          description: Cash outflows for capital expenditures on fixed assets, typically reported as negative values.
                          format: double
                          type: number
                        sale_of_property_plant_and_equipment:
                          description: Cash inflows from disposing of fixed assets, typically reported as positive values.
                          format: double
                          type: number
                        short_term_debt_issuances_repayments:
                          description: Net cash flows from issuing or repaying short-term debt obligations.
                          format: double
                          type: number
                        tickers:
                          description: A list of ticker symbols under which the company is listed. Multiple symbols may indicate different share classes for the same company.
                          items:
                            type: string
                          type: array
                        timeframe:
                          description: 'The reporting period type. Possible values include: quarterly, annual, trailing_twelve_months.'
                          type: string
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - financials
  /stocks/financials/v1/income-statements:
    get:
      description: A comprehensive database of income statement financial data for public companies, including key metrics such as revenue, expenses, and net income for various reporting periods.
      operationId: get_stocks_financials_v1_income-statements
      parameters:
      - description: The company's Central Index Key (CIK), a unique identifier assigned by the U.S. Securities and Exchange Commission (SEC). You can look up a company’s CIK using the [SEC CIK Lookup tool](https://www.sec.gov/search-filings/cik-lookup).
        in: query
        name: cik
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: cik.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: cik.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: cik.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: cik.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: cik.lte
        schema:
          type: string
      - description: Filter for arrays that contain the value.
        in: query
        name: tickers
        schema:
          type: string
      - description: Filter for arrays that contain all of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: tickers.all_of
        schema:
          type: string
      - description: Filter for arrays that contain any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: tickers.any_of
        schema:
          type: string
      - description: The last date of the reporting period (formatted as YYYY-MM-DD). Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end
        schema:
          type: string
      - description: Filter greater than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: period_end.lte
        schema:
          type: string
      - description: The date of the most recent SEC filing that included this period's data. This is not necessarily the date this period was originally filed. Because SEC filings restate comparative data for prior periods, multiple records can share the same filing_date. For example, an annual 10-K reports three years of results, and a 10-Q includes prior period comparatives. To find the original filing date for a specific 10-K or 10-Q, use the SEC EDGAR filings index endpoint (/stocks/filings/vX/index). Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date
        schema:
          type: string
      - description: Filter greater than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be formatted 'yyyy-mm-dd'.
        in: query
        name: filing_date.lte
        schema:
          type: string
      - description: The fiscal year for the reporting period. Value must be a floating point number.
        in: query
        name: fiscal_year
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: fiscal_year.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_year.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: fiscal_year.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_year.lte
        schema:
          format: double
          type: number
      - description: The fiscal quarter number (1, 2, 3, or 4) for the reporting period. Value must be a floating point number.
        in: query
        name: fiscal_quarter
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: fiscal_quarter.lte
        schema:
          format: double
          type: number
      - description: 'The reporting period type. Possible values include: quarterly, annual, trailing_twelve_months.'
        in: query
        name: timeframe
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: timeframe.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: timeframe.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: timeframe.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: timeframe.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: timeframe.lte
        schema:
          type: string
      - description: Limit the maximum number of results returned. Defaults to '100' if not specified. The maximum allowed limit is '50000'.
        in: query
        name: limit
        schema:
          default: 100
          maximum: 50000
          minimum: 1
          type: integer
      - description: A comma separated list of sort columns. For each column, append '.asc' or '.desc' to specify the sort direction. The sort column defaults to 'period_end' if not specified. The sort order defaults to 'asc' if not specified.
        in: query
        name: sort
        schema:
          default: period_end.asc
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: 5b3cc7c674b34fdd89034b74500bfab5
                results:
                - basic_earnings_per_share: 1.57
                  basic_shares_outstanding: 14902886000
                  cik: 0000320193
                  consolidated_net_income_loss: 23434000000
                  cost_of_revenue: 50318000000
                  diluted_earnings_per_share: 1.57
                  diluted_shares_outstanding: 14948179000
                  ebitda: 31032000000
                  filing_date: '2025-08-01'
                  fiscal_quarter: 3
                  fiscal_year: 2025
                  gross_profit: 43718000000
                  income_before_income_taxes: 28031000000
                  income_taxes: 4597000000
                  net_income_loss_attributable_common_shareholders: 23434000000
                  operating_income: 28202000000
                  other_income_expense: -171000000
                  other_operating_expenses: 0
                  period_end: '2025-06-28'
                  research_development: 8866000000
                  revenue: 94036000000
                  selling_general_administrative: 6650000000
                  tickers:
                  - AAPL
                  timeframe: quarterly
                  total_operating_expenses: 15516000000
                  total_other_income_expense: -171000000
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        basic_earnings_per_share:
                          description: Earnings per share calculated using the weighted average number of basic shares outstanding. For TTM records, recalculated as TTM net income divided by average basic shares outstanding over the four quarters.
                          format: double
                          type: number
                        basic_shares_outstanding:
                          description: Weighted average number of common shares outstanding during the period, used in basic EPS calculation. For TTM records, represents the average over the four most recent quarters.
                          format: double
                          type: number
                        cik:
                          description: The company's Central Index Key (CIK), a unique identifier assigned by the U.S. Securities and Exchange Commission (SEC). You can look up a company’s CIK using the [SEC CIK Lookup tool](https://www.sec.gov/search-filings/cik-lookup).
                          type: string
                        consolidated_net_income_loss:
                          description: Total net income or loss for the consolidated entity including all subsidiaries.
                          format: double
                          type: number
                        cost_of_revenue:
                          description: Direct costs attributable to the production of goods or services sold, also known as cost of goods sold (COGS).
                          format: double
                          type: number
                        depreciation_depletion_amortization:
                          description: Non-cash expenses representing the allocation of asset costs over their useful lives.
                          format: double
                          type: number
                        diluted_earnings_per_share:
                          description: Earnings per share calculated using diluted shares outstanding, including the effect of potentially dilutive securities. For TTM records, recalculated as TTM net income divided by average diluted shares outstanding over the four quarters.
                          format: double
                          type: number
                        diluted_shares_outstanding:
                          description: Weighted average number of shares outstanding including the dilutive effect of stock options, warrants, and convertible securities. For TTM records, represents the average over the four most recent quarters.
                          format: double
                          type: number
                        discontinued_operations:
                          description: After-tax results from business segments that have been or will be disposed of.
                          format: double
                          type: number
                        ebitda:
                          description: Earnings before interest, taxes, depreciation, and amortization, a measure of operating performance.
                          format: double
                          type: number
                        equity_in_affiliates:
                          description: The company's share of income or losses from equity method investments in affiliated companies.
                          format: double
                          type: number
                        extraordinary_items:
                          description: Unusual and infrequent gains or losses that are both unusual in nature and infrequent in occurrence.
                          format: double
                          type: number
                        filing_date:
                          description: The date of the most recent SEC filing that included this period's data. This is not necessarily the date this period was originally filed. Because SEC filings restate comparative data for prior periods, multiple records can share the same filing_date. For example, an annual 10-K reports three years of results, and a 10-Q includes prior period comparatives. To find the original filing date for a specific 10-K or 10-Q, use the SEC EDGAR filings index endpoint (/stocks/filings/vX/index).
                          format: date
                          type: string
                        fiscal_quarter:
                          description: The fiscal quarter number (1, 2, 3, or 4) for the reporting period.
                          format: double
                          type: number
                        fiscal_year:
                          description: The fiscal year for the reporting period.
                          format: double
                          type: number
                        gross_profit:
                          description: Revenue minus cost of revenue, representing profit before operating expenses.
                          format: double
                          type: number
                        income_before_income_taxes:
                          description: Pre-tax income calculated as operating income plus total other income/expense.
                          format: double
                          type: number
                        income_taxes:
                          description: Income tax expense or benefit for the period.
                          format: double
                          type: number
                        interest_expense:
                          description: Cost of borrowed funds, including interest on debt and other financing obligations.
                          format: double
                          type: number
                        interest_income:
                          description: Income earned from interest-bearing investments and cash equivalents.
                          format: double
                          type: number
                        net_income_loss_attributable_common_shareholders:
                          description: Net income or loss available to common shareholders after preferred dividends and noncontrolling interests.
                          format: double
                          type: number
                        noncontrolling_interest:
                          description: The portion of net income attributable to minority shareholders in consolidated subsidiaries.
                          format: double
                          type: number
                        operating_income:
                          description: Income from operations calculated as gross profit minus total operating expenses, excluding non-operating items.
                          format: double
                          type: number
                        other_income_expense:
                          description: Non-operating income and expenses not related to the company's core business operations.
                          format: double
                          type: number
                        other_operating_expenses:
                          description: Operating expenses not classified in the main expense categories.
                          format: double
                          type: number
                        period_end:
                          description: The last date of the reporting period (formatted as YYYY-MM-DD).
                          format: date
                          type: string
                        preferred_stock_dividends_declared:
                          description: Dividends declared on preferred stock during the period.
                          format: double
                          type: number
                        research_development:
                          description: Expenses incurred for research and development activities to create new products or improve existing ones.
                          format: double
                          type: number
                        revenue:
                          description: Total revenue or net sales for the period, representing the company's gross income from operations.
                          format: double
                          type: number
                        selling_general_administrative:
                          description: Expenses related to selling products and general administrative costs not directly tied to production.
                          format: double
                          type: number
                        tickers:
                          description: A list of ticker symbols under which the company is listed. Multiple symbols may indicate different share classes for the same company.
                          items:
                            type: string
                          type: array
                        timeframe:
                          description: 'The reporting period type. Possible values include: quarterly, annual, trailing_twelve_months.'
                          type: string
                        total_operating_expenses:
                          description: Sum of all operating expenses including cost of revenue, SG&A, R&D, depreciation, and other operating expenses.
                          format: double
                          type: number
                        total_other_income_expense:
                          description: Net total of all non-operating income and expenses including interest income, interest expense, and other items.
                          format: double
                          type: number
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - financials
  /stocks/financials/v1/ratios:
    get:
      description: A comprehensive financial ratios dataset providing key valuation, profitability, liquidity, and leverage metrics for public companies. Combines data from income statements, balance sheets, and cash flow statements with daily stock prices to calculate ratios on a daily basis. Uses trailing twelve months (TTM) data for income/cash flow metrics and quarterly data for balance sheet items. Fundamental data updates are applied starting from each filing's period end date. Market cap calculations use point-in-time shares outstanding for historical accuracy.
      operationId: get_stocks_financials_v1_ratios
      parameters:
      - description: Stock ticker symbol for the company.
        in: query
        name: ticker
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: ticker.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: ticker.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: ticker.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: ticker.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: ticker.lte
        schema:
          type: string
      - description: Central Index Key (CIK) number assigned by the SEC to identify the company.
        in: query
        name: cik
        schema:
          type: string
      - description: Filter equal to any of the values. Multiple values can be specified by using a comma separated list.
        in: query
        name: cik.any_of
        schema:
          type: string
      - description: Filter greater than the value.
        in: query
        name: cik.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value.
        in: query
        name: cik.gte
        schema:
          type: string
      - description: Filter less than the value.
        in: query
        name: cik.lt
        schema:
          type: string
      - description: Filter less than or equal to the value.
        in: query
        name: cik.lte
        schema:
          type: string
      - description: Stock price used in ratio calculations, typically the closing price for the given date. Value must be a floating point number.
        in: query
        name: price
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: price.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: price.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: price.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: price.lte
        schema:
          format: double
          type: number
      - description: Average trading volume over the last 30 trading days, providing context for liquidity. Value must be a floating point number.
        in: query
        name: average_volume
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: average_volume.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: average_volume.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: average_volume.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: average_volume.lte
        schema:
          format: double
          type: number
      - description: Market capitalization, calculated as stock price multiplied by total shares outstanding. Value must be a floating point number.
        in: query
        name: market_cap
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: market_cap.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: market_cap.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: market_cap.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: market_cap.lte
        schema:
          format: double
          type: number
      - description: Earnings per share, calculated as net income available to common shareholders divided by weighted shares outstanding. Value must be a floating point number.
        in: query
        name: earnings_per_share
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: earnings_per_share.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: earnings_per_share.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: earnings_per_share.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: earnings_per_share.lte
        schema:
          format: double
          type: number
      - description: Price-to-earnings ratio, calculated as stock price divided by earnings per share. Only calculated when earnings per share is positive. Value must be a floating point number.
        in: query
        name: price_to_earnings
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: price_to_earnings.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_earnings.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: price_to_earnings.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_earnings.lte
        schema:
          format: double
          type: number
      - description: Price-to-book ratio, calculated as stock price divided by book value per share, comparing market value to book value. Value must be a floating point number.
        in: query
        name: price_to_book
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: price_to_book.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_book.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: price_to_book.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_book.lte
        schema:
          format: double
          type: number
      - description: Price-to-sales ratio, calculated as stock price divided by revenue per share, measuring valuation relative to sales. Value must be a floating point number.
        in: query
        name: price_to_sales
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: price_to_sales.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_sales.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: price_to_sales.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_sales.lte
        schema:
          format: double
          type: number
      - description: Price-to-cash-flow ratio, calculated as stock price divided by operating cash flow per share. Only calculated when operating cash flow per share is positive. Value must be a floating point number.
        in: query
        name: price_to_cash_flow
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: price_to_cash_flow.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_cash_flow.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: price_to_cash_flow.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_cash_flow.lte
        schema:
          format: double
          type: number
      - description: Price-to-free-cash-flow ratio, calculated as stock price divided by free cash flow per share. Only calculated when free cash flow per share is positive. Value must be a floating point number.
        in: query
        name: price_to_free_cash_flow
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: price_to_free_cash_flow.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_free_cash_flow.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: price_to_free_cash_flow.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: price_to_free_cash_flow.lte
        schema:
          format: double
          type: number
      - description: Dividend yield, calculated as annual dividends per share divided by stock price, measuring the income return on investment. Value must be a floating point number.
        in: query
        name: dividend_yield
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: dividend_yield.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: dividend_yield.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: dividend_yield.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: dividend_yield.lte
        schema:
          format: double
          type: number
      - description: Return on assets ratio, calculated as net income divided by total assets, measuring how efficiently a company uses its assets to generate profit. Value must be a floating point number.
        in: query
        name: return_on_assets
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: return_on_assets.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: return_on_assets.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: return_on_assets.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: return_on_assets.lte
        schema:
          format: double
          type: number
      - description: Return on equity ratio, calculated as net income divided by total shareholders' equity, measuring profitability relative to shareholders' equity. Value must be a floating point number.
        in: query
        name: return_on_equity
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: return_on_equity.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: return_on_equity.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: return_on_equity.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: return_on_equity.lte
        schema:
          format: double
          type: number
      - description: Debt-to-equity ratio, calculated as total debt (current debt plus long-term debt) divided by total shareholders' equity, measuring financial leverage. Value must be a floating point number.
        in: query
        name: debt_to_equity
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: debt_to_equity.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: debt_to_equity.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: debt_to_equity.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: debt_to_equity.lte
        schema:
          format: double
          type: number
      - description: Current ratio, calculated as total current assets divided by total current liabilities, measuring short-term liquidity. Value must be a floating point number.
        in: query
        name: current
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: current.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: current.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: current.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: current.lte
        schema:
          format: double
          type: number
      - description: Quick ratio (acid-test ratio), calculated as (current assets minus inventories) divided by current liabilities, measuring immediate liquidity. Value must be a floating point number.
        in: query
        name: quick
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: quick.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: quick.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: quick.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: quick.lte
        schema:
          format: double
          type: number
      - description: Cash ratio, calculated as cash and cash equivalents divided by current liabilities, measuring the most liquid form of liquidity coverage. Value must be a floating point number.
        in: query
        name: cash
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: cash.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: cash.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: cash.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: cash.lte
        schema:
          format: double
          type: number
      - description: Enterprise value to sales ratio, calculated as enterprise value divided by revenue, measuring company valuation relative to sales. Value must be a floating point number.
        in: query
        name: ev_to_sales
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: ev_to_sales.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: ev_to_sales.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: ev_to_sales.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: ev_to_sales.lte
        schema:
          format: double
          type: number
      - description: Enterprise value to EBITDA ratio, calculated as enterprise value divided by EBITDA, measuring company valuation relative to earnings before interest, taxes, depreciation, and amortization. Value must be a floating point number.
        in: query
        name: ev_to_ebitda
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: ev_to_ebitda.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: ev_to_ebitda.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: ev_to_ebitda.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: ev_to_ebitda.lte
        schema:
          format: double
          type: number
      - description: Enterprise value, calculated as market capitalization plus total debt minus cash and cash equivalents, representing total company value. Value must be a floating point number.
        in: query
        name: enterprise_value
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: enterprise_value.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: enterprise_value.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: enterprise_value.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: enterprise_value.lte
        schema:
          format: double
          type: number
      - description: Free cash flow, calculated as operating cash flow minus capital expenditures (purchase of property, plant, and equipment). Value must be a floating point number.
        in: query
        name: free_cash_flow
        schema:
          format: double
          type: number
      - description: Filter greater than the value. Value must be a floating point number.
        in: query
        name: free_cash_flow.gt
        schema:
          format: double
          type: number
      - description: Filter greater than or equal to the value. Value must be a floating point number.
        in: query
        name: free_cash_flow.gte
        schema:
          format: double
          type: number
      - description: Filter less than the value. Value must be a floating point number.
        in: query
        name: free_cash_flow.lt
        schema:
          format: double
          type: number
      - description: Filter less than or equal to the value. Value must be a floating point number.
        in: query
        name: free_cash_flow.lte
        schema:
          format: double
          type: number
      - description: Limit the maximum number of results returned. Defaults to '100' if not specified. The maximum allowed limit is '50000'.
        in: query
        name: limit
        schema:
          default: 100
          maximum: 50000
          minimum: 1
          type: integer
      - description: A comma separated list of sort columns. For each column, append '.asc' or '.desc' to specify the sort direction. The sort column defaults to 'ticker' if not specified. The sort order defaults to 'asc' if not specified.
        in: query
        name: sort
        schema:
          default: ticker.asc
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                count: 1
                request_id: 8f5374516fec4a819070e53609f47fab
                results:
                - average_volume: 47500000
                  cash: 0.19
                  cik: '320193'
                  current: 0.68
                  date: '2024-09-19'
                  debt_to_equity: 1.52
                  dividend_yield: 0.0044
                  earnings_per_share: 6.57
                  enterprise_value: 3555509835190
                  ev_to_ebitda: 26.98
                  ev_to_sales: 9.22
                  free_cash_flow: 104339000000
                  market_cap: 3479770835190
                  price: 228.87
                  price_to_book: 52.16
                  price_to_cash_flow: 30.78
                  price_to_earnings: 34.84
                  price_to_free_cash_flow: 33.35
                  price_to_sales: 9.02
                  quick: 0.63
                  return_on_assets: 0.3075
                  return_on_equity: 1.5284
                  ticker: AAPL
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        average_volume:
                          description: Average trading volume over the last 30 trading days, providing context for liquidity.
                          format: double
                          type: number
                        cash:
                          description: Cash ratio, calculated as cash and cash equivalents divided by current liabilities, measuring the most liquid form of liquidity coverage.
                          format: double
                          type: number
                        cik:
                          description: Central Index Key (CIK) number assigned by the SEC to identify the company.
                          type: string
                        current:
                          description: Current ratio, calculated as total current assets divided by total current liabilities, measuring short-term liquidity.
                          format: double
                          type: number
                        date:
                          description: Date for which the ratios are calculated, representing the trading date with available price data.
                          type: string
                        debt_to_equity:
                          description: Debt-to-equity ratio, calculated as total debt (current debt plus long-term debt) divided by total shareholders' equity, measuring financial leverage.
                          format: double
                          type: number
                        dividend_yield:
                          description: Dividend yield, calculated as annual dividends per share divided by stock price, measuring the income return on investment.
                          format: double
                          type: number
                        earnings_per_share:
                          description: Earnings per share, calculated as net income available to common shareholders divided by weighted shares outstanding.
                          format: double
                          type: number
                        enterprise_value:
                          description: Enterprise value, calculated as market capitalization plus total debt minus cash and cash equivalents, representing total company value.
                          format: double
                          type: number
                        ev_to_ebitda:
                          description: Enterprise value to EBITDA ratio, calculated as enterprise value divided by EBITDA, measuring company valuation relative to earnings before interest, taxes, depreciation, and amortization.
                          format: double
                          type: number
                        ev_to_sales:
                          description: Enterprise value to sales ratio, calculated as enterprise value divided by revenue, measuring company valuation relative to sales.
                          format: double
                          type: number
                        free_cash_flow:
                          description: Free cash flow, calculated as operating cash flow minus capital expenditures (purchase of property, plant, and equipment).
                          format: double
                          type: number
                        market_cap:
                          description: Market capitalization, calculated as stock price multiplied by total shares outstanding.
                          format: double
                          type: number
                        price:
                          description: Stock price used in ratio calculations, typically the closing price for the given date.
                          format: double
                          type: number
                        price_to_book:
                          description: Price-to-book ratio, calculated as stock price divided by book value per share, comparing market value to book value.
                          format: double
                          type: number
                        price_to_cash_flow:
                          description: Price-to-cash-flow ratio, calculated as stock price divided by operating cash flow per share. Only calculated when operating cash flow per share is positive.
                          format: double
                          type: number
                        price_to_earnings:
                          description: Price-to-earnings ratio, calculated as stock price divided by earnings per share. Only calculated when earnings per share is positive.
                          format: double
                          type: number
                        price_to_free_cash_flow:
                          description: Price-to-free-cash-flow ratio, calculated as stock price divided by free cash flow per share. Only calculated when free cash flow per share is positive.
                          format: double
                          type: number
                        price_to_sales:
                          description: Price-to-sales ratio, calculated as stock price divided by revenue per share, measuring valuation relative to sales.
                          format: double
                          type: number
                        quick:
                          description: Quick ratio (acid-test ratio), calculated as (current assets minus inventories) divided by current liabilities, measuring immediate liquidity.
                          format: double
                          type: number
                        return_on_assets:
                          description: Return on assets ratio, calculated as net income divided by total assets, measuring how efficiently a company uses its assets to generate profit.
                          format: double
                          type: number
                        return_on_equity:
                          description: Return on equity ratio, calculated as net income divided by total shareholders' equity, measuring profitability relative to shareholders' equity.
                          format: double
                          type: number
                        ticker:
                          description: Stock ticker symbol for the company.
                          type: string
                      required:
                      - ticker
                      - date
                      - price
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - financials
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
[...]
