openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Reference:conditions API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: reference:conditions
paths:
  /v3/reference/conditions:
    get:
      description: List all conditions that Massive uses.
      operationId: ListConditions
      parameters:
      - description: Filter for conditions within a given asset class.
        in: query
        name: asset_class
        schema:
          description: An identifier for a group of similar financial instruments.
          enum:
          - stocks
          - options
          - crypto
          - fx
          example: stocks
          type: string
      - description: Filter by data type.
        in: query
        name: data_type
        schema:
          description: The type of financial data represented by a data model.
          enum:
          - trade
          - bbo
          - nbbo
          type: string
      - description: Filter for conditions with a given ID.
        in: query
        name: id
        schema:
          description: An identifier used by Massive for this condition. Unique per data type.
          type: integer
      - description: Filter by SIP. If the condition contains a mapping for that SIP, the condition will be returned.
        in: query
        name: sip
        schema:
          description: One of the SIPs.
          enum:
          - CTA
          - UTP
          - OPRA
          type: string
      - description: Order results based on the `sort` field.
        in: query
        name: order
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
      - description: Limit the number of results returned, default is 10 and max is 1000.
        in: query
        name: limit
        schema:
          default: 10
          example: 10
          maximum: 1000
          minimum: 1
          type: integer
      - description: Sort field used for ordering.
        in: query
        name: sort
        schema:
          default: asset_class
          enum:
          - asset_class
          - id
          - type
          - name
          - data_types
          - legacy
          example: asset_class
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  count: 1
                  request_id: 31d59dda-80e5-4721-8496-d0d32a654afe
                  results:
                  - asset_class: stocks
                    data_types:
                    - trade
                    id: 2
                    name: Average Price Trade
                    sip_mapping:
                      CTA: B
                      UTP: W
                    type: condition
                    update_rules:
                      consolidated:
                        updates_high_low: false
                        updates_open_close: false
                        updates_volume: true
                      market_center:
                        updates_high_low: false
                        updates_open_close: false
                        updates_volume: true
                  status: OK
                properties:
                  count:
                    description: The total number of results for this request.
                    example: 1
                    type: integer
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request ID assigned by the server.
                    example: 31d59dda-80e5-4721-8496-d0d32a654afe
                    type: string
                  results:
                    description: An array of conditions that match your query.
                    items:
                      description: 'A condition generally refers to any extra information passed in a trade or a quote. These conditions

                        may or may not affect the behavior of aggregates.'
                      properties:
                        abbreviation:
                          description: A commonly-used abbreviation for this condition.
                          type: string
                        asset_class:
                          description: An identifier for a group of similar financial instruments.
                          enum:
                          - stocks
                          - options
                          - crypto
                          - fx
                          example: stocks
                          type: string
                        data_types:
                          description: Data types that this condition applies to.
                          items:
                            description: The type of financial data represented by a data model.
                            enum:
                            - trade
                            - bbo
                            - nbbo
                            type: string
                          type: array
                        description:
                          description: A short description of the semantics of this condition.
                          type: string
                        exchange:
                          description: 'If present, mapping this condition from a Massive code to a SIP symbol depends on this attribute.

                            In other words, data with this condition attached comes exclusively from the given exchange.'
                          type: integer
                        id:
                          description: An identifier used by Massive for this condition. Unique per data type.
                          type: integer
                        legacy:
                          description: 'If true, this condition is from an old version of the SIPs'' specs and no longer is used.

                            Other conditions may or may not reuse the same symbol as this one.'
                          type: boolean
                        name:
                          description: The name of this condition.
                          example: Acquisition
                          type: string
                        sip_mapping:
                          description: A comprehensive mapping that translates condition codes from individual SIPs (CTA, OPRA, UTP) to a unified code used by Massive. This facilitates consistent interpretation and application of market data conditions across different data streams, ensuring that users can accurately apply these conditions to their data analysis and reporting.
                          properties:
                            CTA:
                              description: Condition code from the Consolidated Tape Association (CTA).
                              type: string
                            OPRA:
                              description: Condition code from the Options Price Reporting Authority (OPRA).
                              type: string
                            UTP:
                              description: Condition code from UTP Plan (UTP).
                              type: string
                          type: object
                        type:
                          description: An identifier for a collection of related conditions.
                          enum:
                          - sale_condition
                          - quote_condition
                          - sip_generated_flag
                          - financial_status_indicator
                          - short_sale_restriction_indicator
                          - settlement_condition
                          - market_condition
                          - trade_thru_exempt
                          type: string
                        update_rules:
                          description: A list of aggregation rules.
                          properties:
                            consolidated:
                              description: Describes aggregation rules on a consolidated (all exchanges) basis.
                              properties:
                                updates_high_low:
                                  description: Whether or not trades with this condition update the high/low.
                                  type: boolean
                                updates_open_close:
                                  description: Whether or not trades with this condition update the open/close.
                                  type: boolean
                                updates_volume:
                                  description: Whether or not trades with this condition update the volume.
                                  type: boolean
                              required:
                              - updates_high_low
                              - updates_open_close
                              - updates_volume
                              type: object
                            market_center:
                              description: Describes aggregation rules on a per-market-center basis.
                              properties:
                                updates_high_low:
                                  description: Whether or not trades with this condition update the high/low.
                                  type: boolean
                                updates_open_close:
                                  description: Whether or not trades with this condition update the open/close.
                                  type: boolean
                                updates_volume:
                                  description: Whether or not trades with this condition update the volume.
                                  type: boolean
                              required:
                              - updates_high_low
                              - updates_open_close
                              - updates_volume
                              type: object
                          required:
                          - consolidated
                          - market_center
                          type: object
                      required:
                      - id
                      - type
                      - name
                      - asset_class
                      - sip_mapping
                      - data_types
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    example: OK
                    type: string
                required:
                - status
                - request_id
                - count
                - results
                type: object
            text/csv:
              example: 'id,type,abbreviation,name,description,asset_class,sip_mapping,exchange,consolidated_updates_high_low,consolidated_updates_open_close,consolidated_updates_volume,market_center_updates_high_low,market_center_updates_open_close,market_center_updates_volume,data_types,legacy

                0,regular,,Regular Trade,,crypto,null,0,,,,,,,trade,false

                1,buy_or_sell_side,,Sell Side,The asset was sold at the prevailing best bid price on an exchange.,crypto,null,0,,,,,,,trade,false

                2,buy_or_sell_side,,Buy Side,The asset was bought at the prevailing best ask price on an exchange.,crypto,null,0,,,,,,,trade,false

                '
              schema:
                type: string
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties:
                  count:
                    description: The total number of results for this request.
                    example: 1
                    type: integer
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request ID assigned by the server.
                    example: 31d59dda-80e5-4721-8496-d0d32a654afe
                    type: string
                  results:
                    description: An array of conditions that match your query.
                    items:
                      description: 'A condition generally refers to any extra information passed in a trade or a quote. These conditions

                        may or may not affect the behavior of aggregates.'
                      properties:
                        abbreviation:
                          description: A commonly-used abbreviation for this condition.
                          type: string
                        asset_class:
                          description: An identifier for a group of similar financial instruments.
                          enum:
                          - stocks
                          - options
                          - crypto
                          - fx
                          example: stocks
                          type: string
                        data_types:
                          description: Data types that this condition applies to.
                          items:
                            description: The type of financial data represented by a data model.
                            enum:
                            - trade
                            - bbo
                            - nbbo
                            type: string
                          type: array
                        description:
                          description: A short description of the semantics of this condition.
                          type: string
                        exchange:
                          description: 'If present, mapping this condition from a Massive code to a SIP symbol depends on this attribute.

                            In other words, data with this condition attached comes exclusively from the given exchange.'
                          type: integer
                        id:
                          description: An identifier used by Massive for this condition. Unique per data type.
                          type: integer
                        legacy:
                          description: 'If true, this condition is from an old version of the SIPs'' specs and no longer is used.

                            Other conditions may or may not reuse the same symbol as this one.'
                          type: boolean
                        name:
                          description: The name of this condition.
                          example: Acquisition
                          type: string
                        sip_mapping:
                          description: A comprehensive mapping that translates condition codes from individual SIPs (CTA, OPRA, UTP) to a unified code used by Massive. This facilitates consistent interpretation and application of market data conditions across different data streams, ensuring that users can accurately apply these conditions to their data analysis and reporting.
                          properties:
                            CTA:
                              description: Condition code from the Consolidated Tape Association (CTA).
                              type: string
                            OPRA:
                              description: Condition code from the Options Price Reporting Authority (OPRA).
                              type: string
                            UTP:
                              description: Condition code from UTP Plan (UTP).
                              type: string
                          type: object
                        type:
                          description: An identifier for a collection of related conditions.
                          enum:
                          - sale_condition
                          - quote_condition
                          - sip_generated_flag
                          - financial_status_indicator
                          - short_sale_restriction_indicator
                          - settlement_condition
                          - market_condition
                          - trade_thru_exempt
                          type: string
                        update_rules:
                          description: A list of aggregation rules.
                          properties:
                            consolidated:
                              description: Describes aggregation rules on a consolidated (all exchanges) basis.
                              properties:
                                updates_high_low:
                                  description: Whether or not trades with this condition update the high/low.
                                  type: boolean
                                updates_open_close:
                                  description: Whether or not trades with this condition update the open/close.
                                  type: boolean
                                updates_volume:
                                  description: Whether or not trades with this condition update the volume.
                                  type: boolean
                              required:
                              - updates_high_low
                              - updates_open_close
                              - updates_volume
                              type: object
                            market_center:
                              description: Describes aggregation rules on a per-market-center basis.
                              properties:
                                updates_high_low:
                                  description: Whether or not trades with this condition update the high/low.
                                  type: boolean
                                updates_open_close:
                                  description: Whether or not trades with this condition update the open/close.
                                  type: boolean
                                updates_volume:
                                  description: Whether or not trades with this condition update the volume.
                                  type: boolean
                              required:
                              - updates_high_low
                              - updates_open_close
                              - updates_volume
                              type: object
                          required:
                          - consolidated
                          - market_center
                          type: object
                      required:
                      - id
                      - type
                      - name
                      - asset_class
                      - sip_mapping
                      - data_types
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    example: OK
                    type: string
                required:
                - status
                - request_id
                - count
                - results
                type: object
          description: a query parameter was malformed
        default:
          content:
            application/json:
              schema:
                properties:
                  count:
                    description: The total number of results for this request.
                    example: 1
                    type: integer
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request ID assigned by the server.
                    example: 31d59dda-80e5-4721-8496-d0d32a654afe
                    type: string
                  results:
                    description: An array of conditions that match your query.
                    items:
                      description: 'A condition generally refers to any extra information passed in a trade or a quote. These conditions

                        may or may not affect the behavior of aggregates.'
                      properties:
                        abbreviation:
                          description: A commonly-used abbreviation for this condition.
                          type: string
                        asset_class:
                          description: An identifier for a group of similar financial instruments.
                          enum:
                          - stocks
                          - options
                          - crypto
                          - fx
                          example: stocks
                          type: string
                        data_types:
                          description: Data types that this condition applies to.
                          items:
                            description: The type of financial data represented by a data model.
                            enum:
                            - trade
                            - bbo
                            - nbbo
                            type: string
                          type: array
                        description:
                          description: A short description of the semantics of this condition.
                          type: string
                        exchange:
                          description: 'If present, mapping this condition from a Massive code to a SIP symbol depends on this attribute.

                            In other words, data with this condition attached comes exclusively from the given exchange.'
                          type: integer
                        id:
                          description: An identifier used by Massive for this condition. Unique per data type.
                          type: integer
                        legacy:
                          description: 'If true, this condition is from an old version of the SIPs'' specs and no longer is used.

                            Other conditions may or may not reuse the same symbol as this one.'
                          type: boolean
                        name:
                          description: The name of this condition.
                          example: Acquisition
                          type: string
                        sip_mapping:
                          description: A comprehensive mapping that translates condition codes from individual SIPs (CTA, OPRA, UTP) to a unified code used by Massive. This facilitates consistent interpretation and application of market data conditions across different data streams, ensuring that users can accurately apply these conditions to their data analysis and reporting.
                          properties:
                            CTA:
                              description: Condition code from the Consolidated Tape Association (CTA).
                              type: string
                            OPRA:
                              description: Condition code from the Options Price Reporting Authority (OPRA).
                              type: string
                            UTP:
                              description: Condition code from UTP Plan (UTP).
                              type: string
                          type: object
                        type:
                          description: An identifier for a collection of related conditions.
                          enum:
                          - sale_condition
                          - quote_condition
                          - sip_generated_flag
                          - financial_status_indicator
                          - short_sale_restriction_indicator
                          - settlement_condition
                          - market_condition
                          - trade_thru_exempt
                          type: string
                        update_rules:
                          description: A list of aggregation rules.
                          properties:
                            consolidated:
                              description: Describes aggregation rules on a consolidated (all exchanges) basis.
                              properties:
                                updates_high_low:
                                  description: Whether or not trades with this condition update the high/low.
                                  type: boolean
                                updates_open_close:
                                  description: Whether or not trades with this condition update the open/close.
                                  type: boolean
                                updates_volume:
                                  description: Whether or not trades with this condition update the volume.
                                  type: boolean
                              required:
                              - updates_high_low
                              - updates_open_close
                              - updates_volume
                              type: object
                            market_center:
                              description: Describes aggregation rules on a per-market-center basis.
                              properties:
                                updates_high_low:
                                  description: Whether or not trades with this condition update the high/low.
                                  type: boolean
                                updates_open_close:
                                  description: Whether or not trades with this condition update the open/close.
                                  type: boolean
                                updates_volume:
                                  description: Whether or not trades with this condition update the volume.
                                  type: boolean
                              required:
                              - updates_high_low
                              - updates_open_close
                              - updates_volume
                              type: object
                          required:
                          - consolidated
                          - market_center
                          type: object
                      required:
                      - id
                      - type
                      - name
                      - asset_class
                      - sip_mapping
                      - data_types
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    example: OK
                    type: string
                required:
                - status
                - request_id
                - count
                - results
                type: object
          description: an unknown error occurred
      summary: Conditions
      tags:
      - reference:conditions
      x-polygon-entitlement-data-type:
        description: Reference data
        name: reference
      x-polygon-paginate:
        limit:
          default: 10
          max: 1000
        sort:
          default: asset_class
          enum:
          - asset_class
          - id
          - type
          - name
          - data_types
          - legacy
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
