openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Us Options API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: us_options
paths:
  /options/v1/exchanges:
    get:
      description: US options exchanges and trading venues including traditional options exchanges (CBOE, ISE, etc.), Securities Information Processors (SIP), and other options market infrastructure for derivatives trading.
      operationId: get_options_v1_exchanges
      parameters:
      - description: Limit the maximum number of results returned. Defaults to '100' if not specified. The maximum allowed limit is '1000'.
        in: query
        name: limit
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                count: 2
                request_id: 1
                results:
                - id: '302'
                  locale: US
                  mic: XCBO
                  name: Chicago Board Options Exchange
                  operating_mic: XCBO
                  participant_id: C
                  type: exchange
                  url: https://www.cboe.com
                - acronym: ISE
                  id: '308'
                  locale: US
                  mic: XISX
                  name: International Securities Exchange, LLC
                  operating_mic: XISX
                  participant_id: I
                  type: exchange
                  url: https://www.nasdaq.com/solutions/nasdaq-ise
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        acronym:
                          description: Exchange acronym or short name (e.g., 'ISE', 'GEMX') - may be null for some venues.
                          type: string
                        id:
                          description: Numeric identifier for the options trading venue or exchange.
                          type: string
                        locale:
                          description: Geographic location code.
                          type: string
                        mic:
                          description: Market Identifier Code (MIC) - ISO 10383 standard four-character code identifying the specific options market.
                          type: string
                        name:
                          description: Full official name of the options exchange or trading venue.
                          type: string
                        operating_mic:
                          description: Operating Market Identifier Code - identifies the parent organization or operating entity.
                          type: string
                        participant_id:
                          description: Single-character participant identifier used in consolidator market data feeds and options trade reporting.
                          type: string
                        type:
                          description: 'Type of venue: ''exchange'' for options exchanges, ''SIP'' for Securities Information Processors like OPRA (Options Price Reporting Authority).'
                          type: string
                        url:
                          description: Official website URL of the organization operating the options exchange.
                          type: string
                      required:
                      - id
                      - type
                      - name
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - us_options
  /options/v3/quotes/{ticker}:
    get:
      description: Contains NBBO (National Best Bid and Offer) quote records for US options contracts, capturing bid/ask prices, sizes, and exchange attribution at nanosecond precision.
      operationId: get_options_v3_quotes_ticker
      parameters:
      - description: The nanosecond accuracy SIP Unix Timestamp. This is the timestamp of when the SIP received this quote from the exchange which produced it. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp
        schema:
          type: string
      - description: Filter greater than the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.lte
        schema:
          type: string
      - description: Limit the maximum number of results returned. Defaults to '1000' if not specified. The maximum allowed limit is '50000'.
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 50000
          minimum: 1
          type: integer
      - description: A comma separated list of sort columns. For each column, append '.asc' or '.desc' to specify the sort direction. The sort column defaults to 'timestamp' if not specified. The sort order defaults to 'desc' if not specified.
        in: query
        name: sort
        schema:
          default: timestamp.desc
          type: string
      - description: The options ticker symbol (e.g., O:SPY260123C00687000).
        in: path
        name: ticker
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        ask_exchange:
                          description: The exchange ID reporting the ask side of the quote.
                          format: int32
                          type: integer
                        ask_price:
                          description: The ask price.
                          format: double
                          type: number
                        ask_size:
                          description: The size available at the ask price.
                          format: int64
                          type: integer
                        bid_exchange:
                          description: The exchange ID reporting the bid side of the quote.
                          format: int32
                          type: integer
                        bid_price:
                          description: The bid price.
                          format: double
                          type: number
                        bid_size:
                          description: The size available at the bid price.
                          format: int64
                          type: integer
                        sequence_number:
                          description: The sequence number represents the sequence in which quote events happened. These are increasing and unique per ticker symbol, but will not always be sequential. Values reset after each trading session/day.
                          format: int64
                          type: integer
                        sip_timestamp:
                          description: The nanosecond accuracy SIP Unix Timestamp. This is the timestamp of when the SIP received this quote from the exchange which produced it.
                          format: int64
                          type: integer
                        ticker:
                          description: The options ticker symbol (e.g., O:SPY260123C00687000).
                          type: string
                      required:
                      - ticker
                      - sip_timestamp
                      - sequence_number
                      - ask_exchange
                      - ask_price
                      - ask_size
                      - bid_exchange
                      - bid_price
                      - bid_size
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - us_options
  /options/v3/trades/{ticker}:
    get:
      description: Contains individual trade transactions for US options contracts, capturing trade execution details including pricing, timing, and exchange information.
      operationId: get_options_v3_trades_ticker
      parameters:
      - description: The nanosecond accuracy SIP Unix Timestamp. This is the timestamp of when the SIP received this trade from the exchange which produced it. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp
        schema:
          type: string
      - description: Filter greater than the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.gt
        schema:
          type: string
      - description: Filter greater than or equal to the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.gte
        schema:
          type: string
      - description: Filter less than the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.lt
        schema:
          type: string
      - description: Filter less than or equal to the value. Value must be an integer timestamp in nanoseconds, formatted 'yyyy-mm-dd', or ISO 8601/RFC 3339 (e.g. '2024-05-28T20:27:41Z').
        in: query
        name: timestamp.lte
        schema:
          type: string
      - description: Limit the maximum number of results returned. Defaults to '1000' if not specified. The maximum allowed limit is '50000'.
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 50000
          minimum: 1
          type: integer
      - description: A comma separated list of sort columns. For each column, append '.asc' or '.desc' to specify the sort direction. The sort column defaults to 'timestamp' if not specified. The sort order defaults to 'desc' if not specified.
        in: query
        name: sort
        schema:
          default: timestamp.desc
          type: string
      - description: The options ticker symbol (e.g., O:SPY260123C00687000).
        in: path
        name: ticker
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: The results for this request.
                    items:
                      properties:
                        conditions:
                          description: A list of condition codes.
                          items:
                            format: int32
                            type: integer
                          type: array
                        exchange:
                          description: The exchange ID.
                          format: int32
                          type: integer
                        participant_timestamp:
                          description: The nanosecond accuracy Participant/Exchange Unix Timestamp. This is the timestamp of when the trade was actually generated at the exchange.
                          format: int64
                          type: integer
                        price:
                          description: The price of the trade. This is the actual dollar value per whole contract of this trade.
                          format: double
                          type: number
                        sequence_number:
                          description: The sequence number represents the sequence in which trade events happened. These are increasing and unique per ticker symbol, but will not always be sequential. Values reset after each trading session/day.
                          format: int64
                          type: integer
                        sip_timestamp:
                          description: The nanosecond accuracy SIP Unix Timestamp. This is the timestamp of when the SIP received this trade from the exchange which produced it.
                          format: int64
                          type: integer
                        size:
                          description: The size of a trade (also known as volume).
                          format: int64
                          type: integer
                        ticker:
                          description: The options ticker symbol (e.g., O:SPY260123C00687000).
                          type: string
                      required:
                      - ticker
                      - price
                      - size
                      - exchange
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    enum:
                    - OK
                    type: string
                required:
                - status
                - request_id
                - results
                type: object
          description: A list of results.
        '400':
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: A message describing the source of the error.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  status:
                    description: The status of this request's response.
                    enum:
                    - ERROR
                    type: string
                required:
                - status
                - request_id
                - error
                type: object
          description: An error message.
      tags:
      - us_options
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
