openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Summaries API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: Summaries
paths:
  /v1/summaries:
    get:
      description: Get everything needed to visualize the tick-by-tick movement of a list of tickers.
      operationId: SnapshotSummary
      parameters:
      - description: 'Comma separated list of tickers. This API currently supports Stocks/Equities, Crypto, Options, and Forex. See <a rel="nofollow" target="_blank" href="https://massive.com/docs/rest/stocks/tickers/all-tickers">the tickers endpoint</a> for more details on supported tickers. If no tickers are passed then no results will be returned.


          Warning: The maximum number of characters allowed in a URL are subject to your technology stack.'
        example: NCLH,O:SPY250321C00380000,C:EURUSD,X:BTCUSD
        in: query
        name: ticker.any_of
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: abc123
                results:
                - branding:
                    icon_url: https://api.polygon.io/icon.png
                    logo_url: https://api.polygon.io/logo.svg
                  last_updated: 1679597116344223500
                  market_status: closed
                  name: Norwegian Cruise Lines
                  price: 22.3
                  session:
                    change: -1.05
                    change_percent: -4.67
                    close: 21.4
                    decimal_volume: '37.0'
                    early_trading_change: -0.39
                    early_trading_change_percent: -0.07
                    high: 22.49
                    late_trading_change: 1.2
                    late_trading_change_percent: 3.92
                    low: 21.35
                    open: 22.49
                    previous_close: 22.45
                    volume: 37
                  ticker: NCLH
                  type: stocks
                - last_updated: 1679597116344223500
                  market_status: closed
                  name: NCLH $5 Call
                  options:
                    contract_type: call
                    exercise_style: american
                    expiration_date: '2022-10-14'
                    shares_per_contract: 100
                    strike_price: 5
                    underlying_ticker: NCLH
                  price: 6.6
                  session:
                    change: -0.05
                    change_percent: -1.07
                    close: 6.65
                    early_trading_change: -0.01
                    early_trading_change_percent: -0.03
                    high: 7.01
                    late_trading_change: -0.4
                    late_trading_change_percent: -0.02
                    low: 5.42
                    open: 6.7
                    previous_close: 6.71
                    volume: 67
                  ticker: O:NCLH221014C00005000
                  type: options
                - last_updated: 1679597116344223500
                  market_status: open
                  name: Euro - United States Dollar
                  price: 0.97989
                  session:
                    change: -0.0001
                    change_percent: -0.67
                    close: 0.97989
                    high: 0.98999
                    low: 0.96689
                    open: 0.97889
                    previous_close: 0.98001
                  ticker: C:EURUSD
                  type: fx
                - branding:
                    icon_url: https://api.polygon.io/icon.png
                    logo_url: https://api.polygon.io/logo.svg
                  last_updated: 1679597116344223500
                  market_status: open
                  name: Bitcoin - United States Dollar
                  price: 32154.68
                  session:
                    change: -201.23
                    change_percent: -0.77
                    close: 32154.68
                    high: 33124.28
                    low: 28182.88
                    open: 31129.32
                    previous_close: 33362.18
                  ticker: X:BTCUSD
                  type: crypto
                - error: NOT_FOUND
                  message: Ticker not found.
                  ticker: APx
                status: OK
              schema:
                properties:
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: An array of results containing the requested data.
                    items:
                      properties:
                        branding:
                          properties:
                            icon_url:
                              description: 'A link to this ticker''s company''s icon. Icon''s are generally smaller, square images that represent the company at a glance.

                                Note that you must provide an API key when accessing this URL. See the "Authentication" section at the top of this page for more details.'
                              type: string
                            logo_url:
                              description: 'A link to this ticker''s company''s logo.

                                Note that you must provide an API key when accessing this URL. See the "Authentication" section at the top of this page for more details.'
                              type: string
                          type: object
                          x-polygon-go-type:
                            name: Branding
                        error:
                          description: The error while looking for this ticker.
                          type: string
                        last_updated:
                          description: The nanosecond timestamp of when this information was updated.
                          format: int64
                          type: integer
                          x-polygon-go-type:
                            name: INanoseconds
                            path: github.com/polygon-io/ptime
                        market_status:
                          description: The market status for the market that trades this ticker.
                          type: string
                        message:
                          description: The error message while looking for this ticker.
                          type: string
                        name:
                          description: Name of ticker, forex, or crypto asset.
                          type: string
                        options:
                          properties:
                            contract_type:
                              description: The type of contract. Can be "put", "call", or in some rare cases, "other".
                              enum:
                              - put
                              - call
                              - other
                              type: string
                            exercise_style:
                              description: The exercise style of this contract. See <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Option_style">this link</a> for more details on exercise styles.
                              enum:
                              - american
                              - european
                              - bermudan
                              type: string
                            expiration_date:
                              description: The contract's expiration date in YYYY-MM-DD format.
                              format: date
                              type: string
                              x-polygon-go-type:
                                name: IDaysPolygonDateString
                                path: github.com/polygon-io/ptime
                            shares_per_contract:
                              description: The number of shares per contract for this contract.
                              format: double
                              type: number
                            strike_price:
                              description: The strike price of the option contract.
                              format: double
                              type: number
                            underlying_ticker:
                              description: The ticker for the option contract.
                              type: string
                          required:
                          - contract_type
                          - expiration_date
                          - exercise_style
                          - shares_per_contract
                          - strike_price
                          - underlying_ticker
                          type: object
                          x-polygon-go-type:
                            name: Options
                        price:
                          description: The most up to date ticker price.
                          format: double
                          type: number
                        session:
                          description: Comprehensive trading session metrics, detailing price changes, trading volume, and key price points (open, close, high, low) for the asset within the current trading day. Includes specific changes during early, regular, and late trading periods to enable detailed performance analysis and trend tracking.
                          properties:
                            change:
                              description: The value of the price change for the asset from the previous trading day.
                              format: double
                              type: number
                            change_percent:
                              description: The percent of the price change for the asset from the previous trading day.
                              format: double
                              type: number
                            close:
                              description: The closing price of the asset for the day.
                              format: double
                              type: number
                            decimal_volume:
                              description: The trading volume for the asset for the day with decimal precision. This field provides support for fractional shares, representing volume as a decimal string. This field is only returned for stocks snapshots.
                              type: string
                            early_trading_change:
                              description: Today's early trading change amount, difference between price and previous close if in early trading hours, otherwise difference between last price during early trading and previous close.
                              format: double
                              type: number
                            early_trading_change_percent:
                              description: Today's early trading change as a percentage.
                              format: double
                              type: number
                            high:
                              description: The highest price of the asset for the day.
                              format: double
                              type: number
                            late_trading_change:
                              description: Today's late trading change amount, difference between price and today's close if in late trading hours, otherwise difference between last price during late trading and today's close.
                              format: double
                              type: number
                            late_trading_change_percent:
                              description: Today's late trading change as a percentage.
                              format: double
                              type: number
                            low:
                              description: The lowest price of the asset for the day.
                              format: double
                              type: number
                            open:
                              description: The open price of the asset for the day.
                              format: double
                              type: number
                            previous_close:
                              description: The closing price of the asset for the previous trading day.
                              format: double
                              type: number
                            price:
                              description: The price of the most recent trade or bid price for this asset.
                              format: double
                              type: number
                            regular_trading_change:
                              description: Today's change in regular trading hours, difference between current price and previous trading day's close, otherwise difference between today's close and previous day's close.
                              format: double
                              type: number
                            regular_trading_change_percent:
                              description: Today's regular trading change as a percentage.
                              format: double
                              type: number
                            volume:
                              description: The trading volume for the asset for the day.
                              format: double
                              type: number
                          required:
                          - change
                          - change_percent
                          - close
                          - high
                          - low
                          - open
                          - previous_close
                          type: object
                          x-polygon-go-type:
                            name: Session
                        ticker:
                          description: Ticker of asset queried.
                          type: string
                        type:
                          description: The market for this ticker of stock, crypto, fx, option.
                          enum:
                          - stocks
                          - crypto
                          - options
                          - fx
                          type: string
                      required:
                      - ticker
                      type: object
                      x-polygon-go-type:
                        name: SummaryResult
                    type: array
                  status:
                    description: The status of this request's response.
                    type: string
                required:
                - status
                - request_id
                type: object
          description: Snapshot Summary for ticker list
      summary: Summaries
      x-polygon-entitlement-data-type:
        description: Aggregate data
        name: aggregates
      x-polygon-entitlement-market-type:
        description: Stocks data
        name: stocks
      tags:
      - Summaries
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
