openapi: 3.1.0
info:
  title: Polygon Crypto REST Aggregates Quotes API
  version: '1.0'
  description: 'Polygon Crypto API exposes aggregated cross-exchange data for crypto

    pairs (e.g., X:BTCUSD) via `https://api.polygon.io`. This spec

    covers aggregates, daily open/close, snapshots, and level-2 books.

    Auth uses an API key via `apiKey` query parameter or

    `Authorization: Bearer`.

    '
  contact:
    name: Polygon Documentation
    url: https://polygon.io/docs/crypto
servers:
- url: https://api.polygon.io
  description: Polygon REST API
security:
- apiKeyQuery: []
- bearerAuth: []
tags:
- name: Quotes
  description: FX quote endpoints.
paths:
  /v1/last_quote/currencies/{from}/{to}:
    get:
      tags:
      - Quotes
      operationId: getForexLastQuote
      summary: Get Last Quote For A Currency Pair
      parameters:
      - in: path
        name: from
        required: true
        schema:
          type: string
      - in: path
        name: to
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Last quote response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastQuoteResponse'
components:
  schemas:
    LastQuoteResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        symbol:
          type: string
        last:
          $ref: '#/components/schemas/LastQuote'
    LastQuote:
      type: object
      properties:
        ask:
          type: number
        bid:
          type: number
        exchange:
          type: integer
        timestamp:
          type: integer
          format: int64
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
