openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Options:snapshot API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: options:snapshot
paths:
  /v3/snapshot/options/{underlyingAsset}:
    get:
      description: Get the snapshot of all options contracts for an underlying ticker.
      operationId: OptionsChain
      parameters:
      - description: The underlying ticker symbol of the option contract.
        example: EVRI
        in: path
        name: underlyingAsset
        required: true
        schema:
          type: string
      - description: Query by strike price of a contract.
        in: query
        name: strike_price
        schema:
          type: number
        x-polygon-filter-field:
          range: true
          type: number
      - description: Query by contract expiration with date format YYYY-MM-DD.
        in: query
        name: expiration_date
        schema:
          type: string
        x-polygon-filter-field:
          range: true
      - description: Query by the type of contract.
        in: query
        name: contract_type
        schema:
          enum:
          - call
          - put
          type: string
      - description: Range by strike_price.
        in: query
        name: strike_price.gte
        schema:
          type: number
      - description: Range by strike_price.
        in: query
        name: strike_price.gt
        schema:
          type: number
      - description: Range by strike_price.
        in: query
        name: strike_price.lte
        schema:
          type: number
      - description: Range by strike_price.
        in: query
        name: strike_price.lt
        schema:
          type: number
      - description: Range by expiration_date.
        in: query
        name: expiration_date.gte
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.gt
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.lte
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.lt
        schema:
          type: string
      - description: Order results based on the `sort` field.
        in: query
        name: order
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
      - description: Limit the number of results returned, default is 10 and max is 250.
        in: query
        name: limit
        schema:
          default: 10
          example: 10
          maximum: 250
          minimum: 1
          type: integer
      - description: Sort field used for ordering.
        in: query
        name: sort
        schema:
          default: ticker
          enum:
          - ticker
          - expiration_date
          - strike_price
          example: ticker
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: 6a7e466379af0a71039d60cc78e72282
                results:
                - break_even_price: 151.2
                  day:
                    change: 4.5
                    change_percent: 6.76
                    close: 120.73
                    high: 120.81
                    last_updated: 1605195918507251700
                    low: 118.9
                    open: 119.32
                    previous_close: 119.12
                    volume: 868
                    vwap: 119.31
                  details:
                    contract_type: call
                    exercise_style: american
                    expiration_date: '2022-01-21'
                    shares_per_contract: 100
                    strike_price: 150
                    ticker: O:AAPL211022C000150000
                  fmv: 0.05
                  fmv_last_updated: 1605195918508251600
                  greeks:
                    delta: 1
                    gamma: 0
                    theta: 0.00229
                    vega: 0
                  implied_volatility: 5
                  last_quote:
                    ask: 120.3
                    ask_size: 4
                    bid: 120.28
                    bid_size: 8
                    last_updated: 1605195918507251700
                    midpoint: 120.29
                    timeframe: REAL-TIME
                  last_trade:
                    conditions:
                    - 209
                    decimal_size: '2.0'
                    exchange: 316
                    price: 0.05
                    sip_timestamp: 1675280958783136800
                    size: 2
                    timeframe: REAL-TIME
                  open_interest: 1543
                  underlying_asset:
                    change_to_break_even: 4.2
                    last_updated: 1605195918507251700
                    price: 147
                    ticker: AAPL
                    timeframe: DELAYED
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: An array of results containing the requested data.
                    items:
                      description: Contains the requested snapshot data for the specified contract.
                      properties:
                        break_even_price:
                          description: The price of the underlying asset for the contract to break even. For a call, this value is (strike price + premium paid). For a put, this value is (strike price - premium paid).
                          format: double
                          type: number
                        day:
                          description: The most recent daily bar for this contract.
                          properties:
                            change:
                              description: The value of the price change for the contract from the previous trading day.
                              format: double
                              type: number
                            change_percent:
                              description: The percent of the price change for the contract from the previous trading day.
                              format: double
                              type: number
                            close:
                              description: The closing price for the contract of the day.
                              format: double
                              type: number
                            high:
                              description: The highest price for the contract of the day.
                              format: double
                              type: number
                            last_updated:
                              description: The nanosecond timestamp of when this information was updated.
                              format: int64
                              type: integer
                              x-polygon-go-type:
                                name: INanoseconds
                                path: github.com/polygon-io/ptime
                            low:
                              description: The lowest price for the contract of the day.
                              format: double
                              type: number
                            open:
                              description: The open price for the contract of the day.
                              format: double
                              type: number
                            previous_close:
                              description: The closing price for the contract of previous trading day.
                              format: double
                              type: number
                            volume:
                              description: The trading volume for the contract of the day.
                              format: double
                              type: number
                            vwap:
                              description: The trading volume weighted average price for the contract of the day.
                              format: double
                              type: number
                              x-polygon-go-id: VWAP
                          required:
                          - open
                          - high
                          - low
                          - close
                          - previous_close
                          - volume
                          - vwap
                          - change_percent
                          - change
                          type: object
                          x-polygon-go-type:
                            name: Day
                        details:
                          description: The details for this contract.
                          properties:
                            contract_type:
                              description: The type of contract. Can be "put", "call", or in some rare cases, "other".
                              enum:
                              - put
                              - call
                              - other
                              type: string
                            exercise_style:
                              description: The exercise style of this contract. See <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Option_style">this link</a> for more details on exercise styles.
                              enum:
                              - american
                              - european
                              - bermudan
                              type: string
                            expiration_date:
                              description: The contract's expiration date in YYYY-MM-DD format.
                              format: date
                              type: string
                              x-polygon-go-type:
                                name: IDaysPolygonDateString
                                path: github.com/polygon-io/ptime
                            shares_per_contract:
                              description: The number of shares per contract for this contract.
                              type: number
                            strike_price:
                              description: The strike price of the option contract.
                              format: double
                              type: number
                            ticker:
                              description: The ticker symbol for the asset.
                              type: string
                          required:
                          - ticker
                          - contract_type
                          - exercise_style
                          - expiration_date
                          - shares_per_contract
                          - strike_price
                          type: object
                          x-polygon-go-type:
                            name: Details
                        fmv:
                          description: 'Fair Market Value is only available on Business plans. It is our proprietary algorithm to generate a real-time, accurate, fair market value of a tradable security.

                            For more information, <a rel="nofollow" target="_blank" href="https://massive.com/contact">contact us</a>.'
                          type: number
                        fmv_last_updated:
                          description: If Fair Market Value (FMV) is available, this field is the nanosecond timestamp of the last FMV calculation.
                          format: int64
                          type: integer
                          x-polygon-go-type:
                            name: INanoseconds
                            path: github.com/polygon-io/ptime
                        greeks:
                          description: 'The greeks for this contract.

                            There are certain circumstances where greeks will not be returned, such as options contracts that are deep in the money.

                            See this <a href="https://massive.com/blog/greeks-and-implied-volatility/#testing"

                            alt="link">article</a> for more information.'
                          properties:
                            delta:
                              description: The change in the option's price per $0.01 increment in the price of the underlying asset.
                              format: double
                              type: number
                            gamma:
                              description: The change in delta per $0.01 change in the price of the underlying asset.
                              format: double
                              type: number
                            theta:
                              description: The change in the option's price per day.
                              format: double
                              type: number
                            vega:
                              description: The change in the option's price per 1% increment in volatility.
                              format: double
                              type: number
                          required:
                          - delta
                          - gamma
                          - theta
                          - vega
                          type: object
                          x-polygon-go-type:
                            name: Greeks
                        implied_volatility:
                          description: The market's forecast for the volatility of the underlying asset, based on this option's current price.
                          format: double
                          type: number
                        last_quote:
                          description: The most recent quote for this contract. This is only returned if your current plan includes quotes.
                          properties:
                            ask:
                              description: The ask price.
                              format: double
                              type: number
                            ask_exchange:
                              description: The ask side exchange ID. See <a href="https://massive.com/docs/rest/stocks/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                              format: int32
                              type: number
                            ask_size:
                              description: The ask size.
                              format: double
                              type: number
                            bid:
                              description: The bid price.
                              format: double
                              type: number
                            bid_exchange:
                              description: The bid side exchange ID. See <a href="https://massive.com/docs/rest/stocks/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                              format: int32
                              type: number
                            bid_size:
                              description: The bid size.
                              format: double
                              type: number
                            last_updated:
                              description: The nanosecond timestamp of when this information was updated.
                              format: int64
                              type: integer
                              x-polygon-go-type:
                                name: INanoseconds
                                path: github.com/polygon-io/ptime
                            midpoint:
                              description: The average of the bid and ask price.
                              format: double
                              type: number
                            timeframe:
                              description: The time relevance of the data.
                              enum:
                              - DELAYED
                              - REAL-TIME
                              type: string
                          required:
                          - ask
                          - ask_size
                          - bid_size
                          - bid
                          - midpoint
                          type: object
                          x-polygon-go-type:
                            name: LastQuote
                        last_trade:
                          description: The most recent trade for this contract. This is only returned if your current plan includes trades.
                          properties:
                            conditions:
                              description: A list of condition codes.
                              items:
                                description: 'The condition code. These are the conditions of this message. See

                                  [Condition Mappings](https://massive.com/docs/rest/options/market-operations/condition-codes)

                                  for a mapping to exchange conditions.'
                                format: int32
                                type: integer
                              type: array
                            exchange:
                              description: The exchange ID. See <a href="https://massive.com/docs/rest/options/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                              type: integer
                            price:
                              description: 'The price of the trade. This is the actual dollar value per whole share of

                                this trade. A trade of 100 shares with a price of $2.00 would be worth a

                                total dollar value of $200.00.'
                              format: double
                              type: number
                            sip_timestamp:
                              description: The nanosecond accuracy SIP Unix Timestamp. This is the timestamp of when the SIP received this trade from the exchange which produced it.
                              format: int64
                              type: integer
                            size:
                              description: The size of a trade (also known as volume).
                              format: int32
                              type: integer
                            timeframe:
                              description: The time relevance of the data.
                              enum:
                              - DELAYED
                              - REAL-TIME
                              type: string
                          required:
                          - exchange
                          - price
                          - sip_timestamp
                          - size
                          type: object
                          x-polygon-go-type:
                            name: OptionsLastTrade
                        open_interest:
                          description: The quantity of this contract held at the end of the last trading day.
                          format: double
                          type: number
                        underlying_asset:
                          description: Information on the underlying stock for this options contract.  The market data returned depends on your current stocks plan.
                          properties:
                            change_to_break_even:
                              description: The change in price for the contract to break even.
                              format: double
                              type: number
                            last_updated:
                              description: The nanosecond timestamp of when this information was updated.
                              format: int64
                              type: integer
                              x-polygon-go-type:
                                name: INanoseconds
                                path: github.com/polygon-io/ptime
                            price:
                              description: The price of the trade. This is the actual dollar value per whole share of this trade. A trade of 100 shares with a price of $2.00 would be worth a total dollar value of $200.00.
                              format: double
                              type: number
                            ticker:
                              description: The ticker symbol for the contract's underlying asset.
                              type: string
                            timeframe:
                              description: The time relevance of the data.
                              enum:
                              - DELAYED
                              - REAL-TIME
                              type: string
                            value:
                              description: The value of the underlying index.
                              format: double
                              type: number
                          required:
                          - ticker
                          - change_to_break_even
                          type: object
                          x-polygon-go-type:
                            name: UnderlyingAsset
                      required:
                      - day
                      - last_quote
                      - underlying_asset
                      - details
                      - break_even_price
                      - open_interest
                      type: object
                      x-polygon-go-type:
                        name: OptionSnapshotResult
                    type: array
                  status:
                    description: The status of this request's response.
                    type: string
                required:
                - status
                - request_id
                type: object
          description: Snapshots for options contracts of the underlying ticker
      summary: Options Chain
      tags:
      - options:snapshot
      x-polygon-entitlement-allowed-timeframes:
      - description: Real Time Data
        name: realtime
      - description: 15 minute delayed data
        name: delayed
      x-polygon-entitlement-data-type:
        description: Aggregate data
        name: aggregates
      x-polygon-entitlement-market-type:
        description: Options data
        name: options
      x-polygon-paginate:
        limit:
          default: 10
          max: 250
        sort:
          default: ticker
          enum:
          - ticker
          - expiration_date
          - strike_price
  /v3/snapshot/options/{underlyingAsset}/{optionContract}:
    get:
      description: Get the snapshot of an option contract for a stock equity.
      operationId: OptionContract
      parameters:
      - description: The underlying ticker symbol of the option contract.
        example: EVRI
        in: path
        name: underlyingAsset
        required: true
        schema:
          type: string
      - description: The option contract identifier.
        example: O:EVRI260116C00015000
        in: path
        name: optionContract
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: d9ff18dac69f55c218f69e4753706acd
                results:
                  break_even_price: 171.075
                  day:
                    change: -1.05
                    change_percent: -4.67
                    close: 21.4
                    high: 22.49
                    last_updated: 1636520400000000000
                    low: 21.35
                    open: 22.49
                    previous_close: 22.45
                    volume: 37
                    vwap: 21.6741
                  details:
                    contract_type: call
                    exercise_style: american
                    expiration_date: '2023-06-16'
                    shares_per_contract: 100
                    strike_price: 150
                    ticker: O:AAPL230616C00150000
                  fmv: 0.05
                  fmv_last_updated: 1636573458757383400
                  greeks:
                    delta: 0.5520187372272933
                    gamma: 0.00706756515659829
                    theta: -0.018532772783847958
                    vega: 0.7274811132998142
                  implied_volatility: 0.3048997097864957
                  last_quote:
                    ask: 21.25
                    ask_exchange: 301
                    ask_size: 110
                    bid: 20.9
                    bid_exchange: 301
                    bid_size: 172
                    last_updated: 1636573458756383500
                    midpoint: 21.075
                    timeframe: REAL-TIME
                  last_trade:
                    conditions:
                    - 209
                    exchange: 316
                    price: 0.05
                    sip_timestamp: 1675280958783136800
                    size: 2
                    timeframe: REAL-TIME
                  open_interest: 8921
                  underlying_asset:
                    change_to_break_even: 23.123999999999995
                    last_updated: 1636573459862384600
                    price: 147.951
                    ticker: AAPL
                    timeframe: REAL-TIME
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: Contains the requested snapshot data for the specified contract.
                    properties:
                      break_even_price:
                        description: The price of the underlying asset for the contract to break even. For a call, this value is (strike price + premium paid). For a put, this value is (strike price - premium paid).
                        format: double
                        type: number
                      day:
                        description: The most recent daily bar for this contract.
                        properties:
                          change:
                            description: The value of the price change for the contract from the previous trading day.
                            format: double
                            type: number
                          change_percent:
                            description: The percent of the price change for the contract from the previous trading day.
                            format: double
                            type: number
                          close:
                            description: The closing price for the contract of the day.
                            format: double
                            type: number
                          high:
                            description: The highest price for the contract of the day.
                            format: double
                            type: number
                          last_updated:
                            description: The nanosecond timestamp of when this information was updated.
                            format: int64
                            type: integer
                            x-polygon-go-type:
                              name: INanoseconds
                              path: github.com/polygon-io/ptime
                          low:
                            description: The lowest price for the contract of the day.
                            format: double
                            type: number
                          open:
                            description: The open price for the contract of the day.
                            format: double
                            type: number
                          previous_close:
                            description: The closing price for the contract of previous trading day.
                            format: double
                            type: number
                          volume:
                            description: The trading volume for the contract of the day.
                            format: double
                            type: number
                          vwap:
                            description: The trading volume weighted average price for the contract of the day.
                            format: double
                            type: number
                            x-polygon-go-id: VWAP
                        required:
                        - open
                        - high
                        - low
                        - close
                        - previous_close
                        - volume
                        - vwap
                        - change_percent
                        - change
                        type: object
                        x-polygon-go-type:
                          name: Day
                      details:
                        description: The details for this contract.
                        properties:
                          contract_type:
                            description: The type of contract. Can be "put", "call", or in some rare cases, "other".
                            enum:
                            - put
                            - call
                            - other
                            type: string
                          exercise_style:
                            description: The exercise style of this contract. See <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Option_style">this link</a> for more details on exercise styles.
                            enum:
                            - american
                            - european
                            - bermudan
                            type: string
                          expiration_date:
                            description: The contract's expiration date in YYYY-MM-DD format.
                            format: date
                            type: string
                            x-polygon-go-type:
                              name: IDaysPolygonDateString
                              path: github.com/polygon-io/ptime
                          shares_per_contract:
                            description: The number of shares per contract for this contract.
                            type: number
                          strike_price:
                            description: The strike price of the option contract.
                            format: double
                            type: number
                          ticker:
                            description: The ticker symbol for the asset.
                            type: string
                        required:
                        - ticker
                        - contract_type
                        - exercise_style
                        - expiration_date
                        - shares_per_contract
                        - strike_price
                        type: object
                        x-polygon-go-type:
                          name: Details
                      fmv:
                        description: 'Fair Market Value is only available on Business plans. It is our proprietary algorithm to generate a real-time, accurate, fair market value of a tradable security.

                          For more information, <a rel="nofollow" target="_blank" href="https://massive.com/contact">contact us</a>.'
                        type: number
                      fmv_last_updated:
                        description: If Fair Market Value (FMV) is available, this field is the nanosecond timestamp of the last FMV calculation.
                        format: int64
                        type: integer
                        x-polygon-go-type:
                          name: INanoseconds
                          path: github.com/polygon-io/ptime
                      greeks:
                        description: 'The greeks for this contract.

                          There are certain circumstances where greeks will not be returned, such as options contracts that are deep in the money.

                          See this <a href="https://massive.com/blog/greeks-and-implied-volatility/#testing"

                          alt="link">article</a> for more information.'
                        properties:
                          delta:
                            description: The change in the option's price per $0.01 increment in the price of the underlying asset.
                            format: double
                            type: number
                          gamma:
                            description: The change in delta per $0.01 change in the price of the underlying asset.
                            format: double
                            type: number
                          theta:
                            description: The change in the option's price per day.
                            format: double
                            type: number
                          vega:
                            description: The change in the option's price per 1% increment in volatility.
                            format: double
                            type: number
                        required:
                        - delta
                        - gamma
                        - theta
                        - vega
                        type: object
                        x-polygon-go-type:
                          name: Greeks
                      implied_volatility:
                        description: The market's forecast for the volatility of the underlying asset, based on this option's current price.
                        format: double
                        type: number
                      last_quote:
                        description: The most recent quote for this contract. This is only returned if your current plan includes quotes.
                        properties:
                          ask:
                            description: The ask price.
                            format: double
                            type: number
                          ask_exchange:
                            description: The ask side exchange ID. See <a href="https://massive.com/docs/rest/stocks/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                            format: int32
                            type: number
                          ask_size:
                            description: The ask size.
                            format: double
                            type: number
                          bid:
                            description: The bid price.
                            format: double
                            type: number
                          bid_exchange:
                            description: The bid side exchange ID. See <a href="https://massive.com/docs/rest/stocks/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                            format: int32
                            type: number
                          bid_size:
                            description: The bid size.
                            format: double
                            type: number
                          last_updated:
                            description: The nanosecond timestamp of when this information was updated.
                            format: int64
                            type: integer
                            x-polygon-go-type:
                              name: INanoseconds
                              path: github.com/polygon-io/ptime
                          midpoint:
                            description: The average of the bid and ask price.
                            format: double
                            type: number
                          timeframe:
                            description: The time relevance of the data.
                            enum:
                            - DELAYED
                            - REAL-TIME
                            type: string
                        required:
                        - ask
                        - ask_size
                        - bid_size
                        - bid
                        - midpoint
                        type: object
                        x-polygon-go-type:
                          name: LastQuote
                      last_trade:
                        description: The most recent trade for this contract. This is only returned if your current plan includes trades.
                        properties:
                          conditions:
                            description: A list of condition codes.
                            items:
                              description: 'The condition code. These are the conditions of this message. See

                                [Condition Mappings](https://massive.com/docs/rest/options/market-operations/condition-codes)

                                for a mapping to exchange conditions.'
                              format: int32
                              type: integer
                            type: array
                          exchange:
                            description: The exchange ID. See <a href="https://massive.com/docs/rest/options/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                            type: integer
                          price:
                            description: 'The price of the trade. This is the actual dollar value per whole share of

                              this trade. A trade of 100 shares with a price of $2.00 would be worth a

                              total dollar value of $200.00.'
                            format: double
                            type: number
                          sip_timestamp:
                            description: The nanosecond accuracy SIP Unix Timestamp. This is the timestamp of when the SIP received this trade from the exchange which produced it.
                            format: int64
                            type: integer
                          size:
                            description: The size of a trade (also known as volume).
                            format: int32
                            type: integer
                          timeframe:
                            description: The time relevance of the data.
                            enum:
                            - DELAYED
                            - REAL-TIME
                            type: string
                        required:
                        - exchange
                        - price
                        - sip_timestamp
                        - size
                        type: object
                        x-polygon-go-type:
                          name: OptionsLastTrade
                      open_interest:
                        description: The quantity of this contract held at the end of the last trading day.
                        format: double
                        type: number
                      underlying_asset:
                        description: Information on the underlying stock for this options contract.  The market data returned depends on your current stocks plan.
                        properties:
                          change_to_break_even:
                            description: The change in price for the contract to break even.
                            format: double
                            type: number
                          last_updated:
                            description: The nanosecond timestamp of when this information was updated.
                            format: int64
                            type: integer
                            x-polygon-go-type:
                              name: INanoseconds
                              path: github.com/polygon-io/ptime
                          price:
                            description: The price of the trade. This is the actual dollar value per whole share of this trade. A trade of 100 shares with a price of $2.00 would be worth a total dollar value of $200.00.
                            format: double
                            type: number
                          ticker:
                            description: The ticker symbol for the contract's underlying asset.
                            type: string
                          timeframe:
                            description: The time relevance of the data.
                            enum:
                            - DELAYED
                            - REAL-TIME
                            type: string
                          value:
                            description: The value of the underlying index.
                            format: double
                            type: number
                        required:
                        - ticker
                        - change_to_break_even
                        type: object
                        x-polygon-go-type:
                          name: UnderlyingAsset
                    required:
                    - day
                    - last_quote
                    - underlying_asset
                    - details
                    - break_even_price
                    - open_interest
                    type: object
                    x-polygon-go-type:
                      name: OptionSnapshotResult
                  status:
                    description: The status of this request's response.
                    type: string
                required:
                - status
                - request_id
                type: object
            text/csv:
              schema:
                example: 'break_even_price,day_close,day_high,day_last_updated,day_low,day_open,day_previous_close,day_volume,day_vwap,day_change,day_change_percent,details_contract_type,details_exercise_style,details_expiration_date,details_shares_per_contract,details_strike_price,details_ticker,greeks_delta,greeks_gamma,greeks_theta,greeks_vega,implied_volatility,last_quote_ask,last_quote_ask_size,last_quote_bid,last_quote_bid_size,last_quote_last_updated,last_quote_midpoint,last_quote_timeframe,open_interest,underlying_asset_change_to_break_even,underlying_asset_last_updated,underlying_asset_price,underlying_asset_ticker,underlying_asset_timeframe

                  0,171.075,21.4,22.49,1636520400000000000,21.35,22.49,22.45,37,21.6741,-1.05,-4.67,call,american,2023-06-16,100,150,O:AAPL230616C00150000,0.5520187372272933,0.00706756515659829,-0.018532772783847958,0.7274811132998142,0.3048997097864957,21.25,110,20.9,172,1636573458756383500,21.075,REAL-TIME,8921,23.123999999999995,1636573459862384600,147.951,AAPL,REAL-TIME

                  '
                type: string
          description: Snapshot of the option contract.
      summary: Option Contract
      tags:
      - options:snapshot
      x-polygon-entitlement-allowed-timeframes:
      - description: Real Time Data
        name: realtime
      - description: 15 minute delayed data
        name: delayed
      x-polygon-entitlement-data-type:
        description: Aggregate data
        name: aggregates
      x-polygon-entitlement-market-type:
        description: Options data
        name: options
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
