openapi: 3.1.0
info:
  title: Polygon Crypto REST Aggregates News API
  version: '1.0'
  description: 'Polygon Crypto API exposes aggregated cross-exchange data for crypto

    pairs (e.g., X:BTCUSD) via `https://api.polygon.io`. This spec

    covers aggregates, daily open/close, snapshots, and level-2 books.

    Auth uses an API key via `apiKey` query parameter or

    `Authorization: Bearer`.

    '
  contact:
    name: Polygon Documentation
    url: https://polygon.io/docs/crypto
servers:
- url: https://api.polygon.io
  description: Polygon REST API
security:
- apiKeyQuery: []
- bearerAuth: []
tags:
- name: News
  description: Ticker news.
paths:
  /v2/reference/news:
    get:
      tags:
      - News
      operationId: listTickerNews
      summary: List Ticker News
      parameters:
      - in: query
        name: ticker
        schema:
          type: string
      - in: query
        name: published_utc
        schema:
          type: string
          format: date-time
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          maximum: 1000
      responses:
        '200':
          description: News response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'
components:
  schemas:
    NewsArticle:
      type: object
      properties:
        id:
          type: string
        publisher:
          type: object
          additionalProperties: true
        title:
          type: string
        author:
          type: string
        published_utc:
          type: string
          format: date-time
        article_url:
          type: string
          format: uri
        tickers:
          type: array
          items:
            type: string
        amp_url:
          type: string
          format: uri
        image_url:
          type: string
          format: uri
        description:
          type: string
        keywords:
          type: array
          items:
            type: string
    NewsResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        count:
          type: integer
        next_url:
          type: string
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/NewsArticle'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
