openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Reference:options:contracts:list API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: reference:options:contracts:list
paths:
  /v3/reference/options/contracts:
    get:
      description: Query for historical options contracts. This provides both active and expired options contracts.
      operationId: ListOptionsContracts
      parameters:
      - description: Query for contracts relating to an underlying stock ticker.
        in: query
        name: underlying_ticker
        schema:
          type: string
        x-polygon-filter-field:
          range: true
          type: string
      - description: This parameter has been deprecated. To search by specific options ticker, use the Options Contract endpoint [here](https://massive.com/docs/rest/options/contracts/contract-overview).
        in: query
        name: ticker
        schema:
          type: string
      - description: Query by the type of contract.
        in: query
        name: contract_type
        schema:
          enum:
          - call
          - put
          type: string
      - description: Query by contract expiration with date format YYYY-MM-DD.
        in: query
        name: expiration_date
        schema:
          type: string
        x-polygon-filter-field:
          range: true
      - description: Specify a point in time for contracts as of this date with format YYYY-MM-DD. Defaults to today's date.
        in: query
        name: as_of
        schema:
          type: string
      - description: Query by strike price of a contract.
        in: query
        name: strike_price
        schema:
          type: number
        x-polygon-filter-field:
          range: true
          type: number
      - description: Query for expired contracts. Default is false.
        in: query
        name: expired
        schema:
          type: boolean
      - description: Range by underlying_ticker.
        in: query
        name: underlying_ticker.gte
        schema:
          type: string
      - description: Range by underlying_ticker.
        in: query
        name: underlying_ticker.gt
        schema:
          type: string
      - description: Range by underlying_ticker.
        in: query
        name: underlying_ticker.lte
        schema:
          type: string
      - description: Range by underlying_ticker.
        in: query
        name: underlying_ticker.lt
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.gte
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.gt
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.lte
        schema:
          type: string
      - description: Range by expiration_date.
        in: query
        name: expiration_date.lt
        schema:
          type: string
      - description: Range by strike_price.
        in: query
        name: strike_price.gte
        schema:
          type: number
      - description: Range by strike_price.
        in: query
        name: strike_price.gt
        schema:
          type: number
      - description: Range by strike_price.
        in: query
        name: strike_price.lte
        schema:
          type: number
      - description: Range by strike_price.
        in: query
        name: strike_price.lt
        schema:
          type: number
      - description: Order results based on the `sort` field.
        in: query
        name: order
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
      - description: Limit the number of results returned, default is 10 and max is 1000.
        in: query
        name: limit
        schema:
          default: 10
          example: 10
          maximum: 1000
          minimum: 1
          type: integer
      - description: Sort field used for ordering.
        in: query
        name: sort
        schema:
          default: ticker
          enum:
          - ticker
          - underlying_ticker
          - expiration_date
          - strike_price
          example: ticker
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                request_id: 603902c0-a5a5-406f-bd08-f030f92418fa
                results:
                - cfi: OCASPS
                  contract_type: call
                  exercise_style: american
                  expiration_date: '2021-11-19'
                  primary_exchange: BATO
                  shares_per_contract: 100
                  strike_price: 85
                  ticker: O:AAPL211119C00085000
                  underlying_ticker: AAPL
                - additional_underlyings:
                  - amount: 44
                    type: equity
                    underlying: VMW
                  - amount: 6.53
                    type: currency
                    underlying: USD
                  cfi: OCASPS
                  contract_type: call
                  exercise_style: american
                  expiration_date: '2021-11-19'
                  primary_exchange: BATO
                  shares_per_contract: 100
                  strike_price: 90
                  ticker: O:AAPL211119C00090000
                  underlying_ticker: AAPL
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: An array of results containing the requested data.
                    items:
                      description: Contains the requested data for the specified options contract.
                      properties:
                        additional_underlyings:
                          description: 'If an option contract has additional underlyings or deliverables associated with it, they will appear here.

                            See <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.optionseducation.org/referencelibrary/faq/splits-mergers-spinoffs-bankruptcies">here</a> for some examples of what might cause a contract to have additional underlyings.'
                          items:
                            properties:
                              amount:
                                description: The number of shares per contract of the additional underlying, or the cash-in-lieu amount of the currency.
                                type: number
                              type:
                                description: The type of the additional underlying asset, either equity or currency.
                                type: string
                              underlying:
                                description: The name of the additional underlying asset.
                                type: string
                            type: object
                            x-polygon-go-type:
                              name: AdditionalUnderlying
                          type: array
                          x-polygon-go-type:
                            name: AdditionalUnderlyings
                        cfi:
                          description: The 6 letter CFI code of the contract (defined in <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/ISO_10962">ISO 10962</a>)
                          type: string
                        contract_type:
                          description: The type of contract. Can be "put", "call", or in some rare cases, "other".
                          type: string
                        correction:
                          description: The correction number for this option contract.
                          type: integer
                        exercise_style:
                          description: The exercise style of this contract. See <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Option_style">this link</a> for more details on exercise styles.
                          enum:
                          - american
                          - european
                          - bermudan
                          type: string
                        expiration_date:
                          description: The contract's expiration date in YYYY-MM-DD format.
                          type: string
                          x-polygon-go-type:
                            name: IDaysPolygonDateString
                            path: github.com/polygon-io/ptime
                        primary_exchange:
                          description: The MIC code of the primary exchange that this contract is listed on.
                          type: string
                        shares_per_contract:
                          description: The number of shares per contract for this contract.
                          type: number
                        strike_price:
                          description: The strike price of the option contract.
                          type: number
                        ticker:
                          description: The ticker for the option contract.
                          type: string
                        underlying_ticker:
                          description: The underlying ticker that the option contract relates to.
                          type: string
                      type: object
                      x-polygon-go-type:
                        name: OptionsContract
                    type: array
                  status:
                    description: The status of this request's response.
                    type: string
                type: object
            text/csv:
              schema:
                example: 'cfi,contract_type,exercise_style,expiration_date,primary_exchange,shares_per_contract,strike_price,ticker,underlying_ticker,additional_underlyings_json

                  OCASPS,call,american,2021-11-19,BATO,100,85,O:AAPL211119C00085000,AAPL,

                  OCASPS,call,american,2021-11-19,BATO,100,90,O:AAPL211119C00090000,AAPL,"[{''type'': ''equity'', ''underlying'': ''VMW'', ''amount'': 44}, {''type'': ''currency'', ''underlying'': ''USD'', ''amount'': 6.53}]"

                  '
                type: string
          description: A list of options contracts
      summary: Options Contracts
      tags:
      - reference:options:contracts:list
      x-polygon-entitlement-data-type:
        description: Reference data
        name: reference
      x-polygon-paginate:
        limit:
          default: 10
          max: 1000
        sort:
          default: ticker
          enum:
          - ticker
          - underlying_ticker
          - expiration_date
          - strike_price
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
