openapi: 3.1.0
info:
  title: Polygon Crypto REST Aggregates Tickers API
  version: '1.0'
  description: 'Polygon Crypto API exposes aggregated cross-exchange data for crypto

    pairs (e.g., X:BTCUSD) via `https://api.polygon.io`. This spec

    covers aggregates, daily open/close, snapshots, and level-2 books.

    Auth uses an API key via `apiKey` query parameter or

    `Authorization: Bearer`.

    '
  contact:
    name: Polygon Documentation
    url: https://polygon.io/docs/crypto
servers:
- url: https://api.polygon.io
  description: Polygon REST API
security:
- apiKeyQuery: []
- bearerAuth: []
tags:
- name: Tickers
  description: Ticker reference and metadata.
paths:
  /v3/reference/tickers:
    get:
      tags:
      - Tickers
      operationId: listTickers
      summary: List Ticker Symbols
      description: Retrieve a comprehensive list of ticker symbols supported across asset classes.
      parameters:
      - in: query
        name: ticker
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: market
        schema:
          type: string
          enum:
          - stocks
          - crypto
          - fx
          - otc
          - indices
      - in: query
        name: exchange
        schema:
          type: string
      - in: query
        name: active
        schema:
          type: boolean
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: sort
        schema:
          type: string
      responses:
        '200':
          description: Tickers response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickersResponse'
  /v3/reference/tickers/{ticker}:
    get:
      tags:
      - Tickers
      operationId: getTickerDetails
      summary: Get Ticker Details
      description: Retrieve detailed reference information for a single ticker symbol.
      parameters:
      - in: path
        name: ticker
        required: true
        schema:
          type: string
      - in: query
        name: date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Ticker details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerDetailsResponse'
  /v3/reference/tickers/types:
    get:
      tags:
      - Tickers
      operationId: listTickerTypes
      summary: List Ticker Types
      parameters:
      - in: query
        name: asset_class
        schema:
          type: string
      - in: query
        name: locale
        schema:
          type: string
      responses:
        '200':
          description: Ticker types response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerTypesResponse'
components:
  schemas:
    TickerTypesResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/TickerType'
    TickerType:
      type: object
      properties:
        asset_class:
          type: string
        code:
          type: string
        description:
          type: string
        locale:
          type: string
    Ticker:
      type: object
      properties:
        ticker:
          type: string
        name:
          type: string
        market:
          type: string
        locale:
          type: string
        primary_exchange:
          type: string
        type:
          type: string
        active:
          type: boolean
        currency_name:
          type: string
        cik:
          type: string
        composite_figi:
          type: string
        share_class_figi:
          type: string
        last_updated_utc:
          type: string
          format: date-time
    TickerDetailsResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        results:
          allOf:
          - $ref: '#/components/schemas/Ticker'
          - type: object
            properties:
              description:
                type: string
              homepage_url:
                type: string
                format: uri
              list_date:
                type: string
                format: date
              market_cap:
                type: number
              sic_code:
                type: string
              sic_description:
                type: string
              total_employees:
                type: integer
              weighted_shares_outstanding:
                type: number
    TickersResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        count:
          type: integer
        next_url:
          type: string
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Ticker'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
