openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Reference:tickers:list API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: reference:tickers:list
paths:
  /v3/reference/tickers:
    get:
      description: Query all ticker symbols which are supported by Massive. This API currently includes Stocks/Equities, Indices, Forex, and Crypto.
      operationId: ListTickers
      parameters:
      - description: 'Specify a ticker symbol.

          Defaults to empty string which queries all tickers.'
        in: query
        name: ticker
        schema:
          type: string
        x-polygon-filter-field:
          range: true
      - description: 'Specify the type of the tickers. Find the types that we support via our [Ticker Types API](https://massive.com/docs/rest/stocks/tickers/ticker-types).

          Defaults to empty string which queries all types.'
        in: query
        name: type
        schema:
          enum:
          - CS
          - ADRC
          - ADRP
          - ADRR
          - UNIT
          - RIGHT
          - PFD
          - FUND
          - SP
          - WARRANT
          - INDEX
          - ETF
          - ETN
          - OS
          - GDR
          - OTHER
          - NYRS
          - AGEN
          - EQLK
          - BOND
          - ADRW
          - BASKET
          - LT
          type: string
      - description: Filter by market type. By default all markets are included.
        in: query
        name: market
        schema:
          enum:
          - stocks
          - crypto
          - fx
          - otc
          - indices
          type: string
      - description: 'Specify the asset''s primary exchange Market Identifier Code (MIC) according to [ISO 10383](https://www.iso20022.org/market-identifier-codes).

          Defaults to empty string which queries all exchanges.'
        in: query
        name: exchange
        schema:
          type: string
      - description: 'Specify the CUSIP code of the asset you want to search for. Find more information about CUSIP codes [at their website](https://www.cusip.com/identifiers.html#/CUSIP).

          Defaults to empty string which queries all CUSIPs.


          Note: Although you can query by CUSIP, due to legal reasons we do not return the CUSIP in the response.'
        in: query
        name: cusip
        schema:
          type: string
      - description: 'Specify the CIK of the asset you want to search for. Find more information about CIK codes [at their website](https://www.sec.gov/edgar/searchedgar/cik.htm).

          Defaults to empty string which queries all CIKs.'
        in: query
        name: cik
        schema:
          type: string
      - description: 'Specify a point in time to retrieve tickers available on that date.

          Defaults to the most recent available date.'
        in: query
        name: date
        schema:
          format: date
          type: string
      - description: Search for terms within the ticker and/or company name.
        in: query
        name: search
        schema:
          type: string
      - description: Specify if the tickers returned should be actively traded on the queried date. Default is true.
        example: true
        in: query
        name: active
        schema:
          type: boolean
      - description: Range by ticker.
        in: query
        name: ticker.gte
        schema:
          type: string
      - description: Range by ticker.
        in: query
        name: ticker.gt
        schema:
          type: string
      - description: Range by ticker.
        in: query
        name: ticker.lte
        schema:
          type: string
      - description: Range by ticker.
        in: query
        name: ticker.lt
        schema:
          type: string
      - description: Order results based on the `sort` field.
        in: query
        name: order
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
      - description: Limit the number of results returned, default is 100 and max is 1000.
        in: query
        name: limit
        schema:
          default: 100
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
      - description: Sort field used for ordering.
        in: query
        name: sort
        schema:
          default: ticker
          enum:
          - ticker
          - name
          - market
          - locale
          - primary_exchange
          - type
          - currency_symbol
          - currency_name
          - base_currency_symbol
          - base_currency_name
          - cik
          - composite_figi
          - share_class_figi
          - last_updated_utc
          - delisted_utc
          example: ticker
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                count: 1
                next_url: https://api.polygon.io/v3/reference/tickers?cursor=YWN0aXZlPXRydWUmZGF0ZT0yMDIxLTA0LTI1JmxpbWl0PTEmb3JkZXI9YXNjJnBhZ2VfbWFya2VyPUElN0M5YWRjMjY0ZTgyM2E1ZjBiOGUyNDc5YmZiOGE1YmYwNDVkYzU0YjgwMDcyMWE2YmI1ZjBjMjQwMjU4MjFmNGZiJnNvcnQ9dGlja2Vy
                request_id: e70013d92930de90e089dc8fa098888e
                results:
                - active: true
                  cik: 0001090872
                  composite_figi: BBG000BWQYZ5
                  currency_name: usd
                  last_updated_utc: '2021-04-25T00:00:00Z'
                  locale: us
                  market: stocks
                  name: Agilent Technologies Inc.
                  primary_exchange: XNYS
                  share_class_figi: BBG001SCTQY4
                  ticker: A
                  type: CS
                status: OK
              schema:
                properties:
                  count:
                    description: The total number of results for this request.
                    type: integer
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: 'An array of tickers that match your query.


                      Note: Although you can query by CUSIP, due to legal reasons we do not return the CUSIP in the response.'
                    items:
                      properties:
                        active:
                          description: Whether or not the asset is actively traded. False means the asset has been delisted.
                          type: boolean
                        base_currency_name:
                          description: The name of the currency that this asset is priced against.
                          type: string
                        base_currency_symbol:
                          description: The ISO 4217 code of the currency that this asset is priced against.
                          type: string
                        cik:
                          description: The CIK number for this ticker. Find more information [here](https://en.wikipedia.org/wiki/Central_Index_Key).
                          type: string
                        composite_figi:
                          description: The composite OpenFIGI number for this ticker. Find more information [here](https://www.openfigi.com/about/figi)
                          type: string
                        currency_name:
                          description: The name of the currency that this asset is traded with.
                          type: string
                        currency_symbol:
                          description: The ISO 4217 code of the currency that this asset is traded with.
                          type: string
                        delisted_utc:
                          description: The last date that the asset was traded.
                          format: date-time
                          type: string
                        last_updated_utc:
                          description: The information is accurate up to this time.
                          format: date-time
                          type: string
                        locale:
                          description: The locale of the asset.
                          enum:
                          - us
                          - global
                          type: string
                        market:
                          description: The market type of the asset.
                          enum:
                          - stocks
                          - crypto
                          - fx
                          - otc
                          - indices
                          type: string
                        name:
                          description: The name of the asset. For stocks/equities this will be the companies registered name. For crypto/fx this will be the name of the currency or coin pair.
                          type: string
                        primary_exchange:
                          description: The ISO code of the primary listing exchange for this asset.
                          type: string
                        share_class_figi:
                          description: The share Class OpenFIGI number for this ticker. Find more information [here](https://www.openfigi.com/about/figi)
                          type: string
                        ticker:
                          description: The exchange symbol that this item is traded under.
                          type: string
                        type:
                          description: The type of the asset. Find the types that we support via our [Ticker Types API](https://massive.com/docs/rest/stocks/tickers/ticker-types).
                          type: string
                      required:
                      - ticker
                      - name
                      - market
                      - locale
                      type: object
                      x-polygon-go-type:
                        name: ReferenceTicker
                        path: github.com/polygon-io/go-lib-models/v2/globals
                    type: array
                  status:
                    description: The status of this request's response.
                    type: string
                type: object
            text/csv:
              example: 'ticker,name,market,locale,primary_exchange,type,active,currency_name,cik,composite_figi,share_class_figi,last_updated_utc

                A,Agilent Technologies Inc.,stocks,us,XNYS,CS,true,usd,0001090872,BBG000BWQYZ5,BBG001SCTQY4,2021-04-25T00:00:00Z

                '
              schema:
                type: string
          description: Reference Tickers.
        '401':
          description: Unauthorized - Check our API Key and account status
      summary: Tickers
      tags:
      - reference:tickers:list
      x-polygon-entitlement-data-type:
        description: Reference data
        name: reference
      x-polygon-paginate:
        limit:
          default: 100
          max: 1000
        sort:
          default: ticker
          enum:
          - ticker
          - name
          - market
          - locale
          - primary_exchange
          - type
          - currency_symbol
          - currency_name
          - base_currency_symbol
          - base_currency_name
          - cik
          - composite_figi
          - share_class_figi
          - last_updated_utc
          - delisted_utc
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
