openapi: 3.2.0
info:
  description: The future of fintech.
  title: Polygon Crypto:trades API
  version: 1.0.0
servers:
- description: Polygon Platform API
  url: https://api.polygon.io
- description: Polygon Platform API (Staging)
  url: https://api.staging.polygon.io
security:
- apiKey: []
tags:
- name: crypto:trades
paths:
  /v1/historic/crypto/{from}/{to}/{date}:
    get:
      description: 'Get historic trade ticks for a cryptocurrency pair.

        '
      operationId: DeprecatedGetHistoricCryptoTrades
      parameters:
      - description: The "from" symbol of the crypto pair.
        example: BTC
        in: path
        name: from
        required: true
        schema:
          type: string
      - description: The "to" symbol of the crypto pair.
        example: USD
        in: path
        name: to
        required: true
        schema:
          type: string
      - description: The date/day of the historic ticks to retrieve.
        example: '2020-10-14'
        in: path
        name: date
        required: true
        schema:
          format: date
          type: string
      - description: 'The timestamp offset, used for pagination. This is the offset at which to start the results. Using the `timestamp` of the last result as the offset will give you the next page of results.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: Limit the size of the response, max 10000.
        example: 100
        in: query
        name: limit
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                day: '2020-10-14T00:00:00.000Z'
                map:
                  c: conditions
                  p: price
                  s: size
                  t: timestamp
                  x: exchange
                msLatency: 1
                status: success
                symbol: BTC-USD
                ticks:
                - c:
                  - 2
                  p: 15482.89
                  s: 0.00188217
                  t: 1604880000067
                  x: 1
                - c:
                  - 2
                  p: 15482.11
                  s: 0.00161739
                  t: 1604880000167
                  x: 1
                type: crypto
              schema:
                allOf:
                - description: The status of this request's response.
                  type: string
                - properties:
                    day:
                      description: The date that was evaluated from the request.
                      format: date
                      type: string
                    map:
                      description: A map for shortened result keys.
                      type: object
                    msLatency:
                      description: The milliseconds of latency for the query results.
                      type: integer
                    symbol:
                      description: The symbol pair that was evaluated from the request.
                      type: string
                    ticks:
                      items:
                        properties:
                          c:
                            description: 'A list of condition codes.

                              '
                            items:
                              description: 'The condition code. These are the conditions of this message. See

                                [Condition Mappings](https://massive.com/docs/rest/stocks/market-operations/condition-codes)

                                for a mapping to exchange conditions.

                                '
                              type: integer
                            type: array
                          i:
                            description: 'The Trade ID which uniquely identifies a trade. These are unique per

                              combination of ticker, exchange, and TRF. For example: A trade for AAPL

                              executed on NYSE and a trade for AAPL executed on NASDAQ could potentially

                              have the same Trade ID.

                              '
                            type: string
                          p:
                            description: 'The price of the trade. This is the actual dollar value per whole share of

                              this trade. A trade of 100 shares with a price of $2.00 would be worth a

                              total dollar value of $200.00.

                              '
                            format: double
                            type: number
                          s:
                            description: 'The size of a trade (also known as volume).

                              '
                            format: double
                            type: number
                          t:
                            description: The Unix millisecond timestamp for the start of the aggregate window.
                            type: integer
                          x:
                            description: "The exchange that this crypto trade happened on.  \nSee <a href=\"https://massive.com/docs/rest/crypto/market-operations/exchanges\">Exchanges</a> for a mapping of exchanges to IDs.\n"
                            type: integer
                        required:
                        - p
                        - s
                        - x
                        - c
                        - t
                        - i
                        type: object
                      type: array
                  required:
                  - day
                  - map
                  - msLatency
                  - symbol
                  - ticks
                  type: object
          description: An array of crypto trade ticks.
        default:
          description: Unexpected error
      summary: Historic Crypto Trades
      tags:
      - crypto:trades
      x-polygon-deprecation:
        date: 1654056060000
        replaces:
          name: Trades v3
          path: get_v3_trades__cryptoticker
      x-polygon-entitlement-data-type:
        description: Trade data
        name: trades
      x-polygon-entitlement-market-type:
        description: Crypto data
        name: crypto
  /v3/trades/{cryptoTicker}:
    x-polygon-ignore: true
    get:
      description: Get trades for a crypto ticker symbol in a given time range.
      operationId: TradesCrypto
      parameters:
      - description: The ticker symbol to get trades for.
        example: X:BTC-USD
        in: path
        name: cryptoTicker
        required: true
        schema:
          type: string
      - description: Query by trade timestamp. Either a date with the format YYYY-MM-DD or a nanosecond timestamp.
        in: query
        name: timestamp
        schema:
          type: string
        x-polygon-filter-field:
          range: true
      - description: Range by timestamp.
        in: query
        name: timestamp.gte
        schema:
          type: string
      - description: Range by timestamp.
        in: query
        name: timestamp.gt
        schema:
          type: string
      - description: Range by timestamp.
        in: query
        name: timestamp.lte
        schema:
          type: string
      - description: Range by timestamp.
        in: query
        name: timestamp.lt
        schema:
          type: string
      - description: Order results based on the `sort` field.
        in: query
        name: order
        schema:
          default: desc
          enum:
          - asc
          - desc
          example: asc
          type: string
      - description: Limit the number of results returned, default is 1000 and max is 50000.
        in: query
        name: limit
        schema:
          default: 1000
          example: 10
          maximum: 50000
          minimum: 1
          type: integer
      - description: Sort field used for ordering.
        in: query
        name: sort
        schema:
          default: timestamp
          enum:
          - timestamp
          example: timestamp
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                next_url: https://api.polygon.io/v3/trades/X:BTC-USD?cursor=YWN0aXZlPXRydWUmZGF0ZT0yMDIxLTA0LTI1JmxpbWl0PTEmb3JkZXI9YXNjJnBhZ2VfbWFya2VyPUElN0M5YWRjMjY0ZTgyM2E1ZjBiOGUyNDc5YmZiOGE1YmYwNDVkYzU0YjgwMDcyMWE2YmI1ZjBjMjQwMjU4MjFmNGZiJnNvcnQ9dGlja2Vy
                request_id: a47d1beb8c11b6ae897ab76cdbbf35a3
                results:
                - conditions:
                  - 1
                  exchange: 1
                  id: '191450340'
                  participant_timestamp: 1625097600103000000
                  price: 35060
                  received_timestamp: 1625097600125000000
                  size: 1.0434526
                - conditions:
                  - 2
                  exchange: 1
                  id: '191450341'
                  participant_timestamp: 1625097600368000000
                  price: 35059.99
                  received_timestamp: 1625097600390000000
                  size: 0.0058883
                status: OK
              schema:
                properties:
                  next_url:
                    description: If present, this value can be used to fetch the next page of data.
                    type: string
                  request_id:
                    description: A request id assigned by the server.
                    type: string
                  results:
                    description: An array of results containing the requested data.
                    items:
                      properties:
                        conditions:
                          description: A list of condition codes.
                          items:
                            description: 'The condition code. These are the conditions of this message. See

                              [Condition Mappings](https://massive.com/docs/rest/stocks/market-operations/condition-codes)

                              for a mapping to exchange conditions.'
                            format: int32
                            type: integer
                          type: array
                          x-polygon-go-type:
                            name: Int32Array
                        exchange:
                          description: The exchange ID. See <a href="https://massive.com/docs/rest/crypto/market-operations/exchanges" alt="Exchanges">Exchanges</a> for Massive's mapping of exchange IDs.
                          type: integer
                        id:
                          description: The Trade ID which uniquely identifies a trade on the exchange that the trade happened on.
                          type: string
                        participant_timestamp:
                          description: The nanosecond Exchange Unix Timestamp. This is the timestamp of when the trade was generated at the exchange.
                          format: int64
                          type: integer
                          x-polygon-go-type:
                            name: INanoseconds
                            path: github.com/polygon-io/ptime
                        price:
                          description: The price of the trade in the base currency of the crypto pair.
                          format: double
                          type: number
                        received_timestamp:
                          description: The nanosecond accuracy timestamp of when the tick was received by Massive.
                          format: int64
                          type: integer
                          x-polygon-go-type:
                            name: INanoseconds
                            path: github.com/polygon-io/ptime
                        size:
                          description: The size of a trade (also known as volume).
                          format: double
                          type: number
                      required:
                      - exchange
                      - price
                      - size
                      type: object
                    type: array
                  status:
                    description: The status of this request's response.
                    type: string
                required:
                - status
                type: object
            text/csv:
              example: 'conditions,exchange,id,participant_timestamp,price,received_timestamp,size

                1,1,191450340,1625097600103000000,35060,1625097600125000000,1.0434526

                2,1,191450341,1625097600368000000,35059.99,1625097600390000000,0.0058883

                '
              schema:
                type: string
          description: A list of trades.
      summary: Trades
      tags:
      - crypto:trades
      x-polygon-entitlement-data-type:
        description: Trade data
        name: trades
      x-polygon-entitlement-market-type:
        description: Crypto data
        name: crypto
      x-polygon-paginate:
        limit:
          default: 1000
          example: 10
          max: 50000
        order:
          default: desc
        sort:
          default: timestamp
          enum:
          - timestamp
      x-polygon-replaces:
        date: 1654056060000
        replaces:
          name: Historic Crypto Trades
          path: get_v1_historic_crypto__from___to___date
components:
  securitySchemes:
    apiKey:
      in: query
      name: apiKey
      type: apiKey
x-polygon-order:
  crypto:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{cryptoTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/crypto/{date}
    - paths:
      - /v1/open-close/crypto/{from}/{to}/{date}
    - paths:
      - /v2/aggs/ticker/{cryptoTicker}/prev
    - paths:
      - /v3/trades/{cryptoTicker}
    - paths:
      - /v1/historic/crypto/{from}/{to}/{date}
    - paths:
      - /v1/last/crypto/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/crypto/tickers
      - /v2/snapshot/locale/global/markets/crypto/{direction}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}
      - /v2/snapshot/locale/global/markets/crypto/tickers/{ticker}/book
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{cryptoTicker}
      - /v1/indicators/ema/{cryptoTicker}
      - /v1/indicators/macd/{cryptoTicker}
      - /v1/indicators/rsi/{cryptoTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  fx:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{forexTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/global/market/fx/{date}
    - paths:
      - /v2/aggs/ticker/{forexTicker}/prev
    - paths:
      - /v3/quotes/{fxTicker}
    - paths:
      - /v1/historic/forex/{from}/{to}/{date}
    - paths:
      - /v1/last_quote/currencies/{from}/{to}
    - paths:
      - /v1/conversion/{from}/{to}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/global/markets/forex/tickers
      - /v2/snapshot/locale/global/markets/forex/{direction}
      - /v2/snapshot/locale/global/markets/forex/tickers/{ticker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{fxTicker}
      - /v1/indicators/ema/{fxTicker}
      - /v1/indicators/macd/{fxTicker}
      - /v1/indicators/rsi/{fxTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  indices:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{indicesTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - paths:
      - /v2/aggs/ticker/{indicesTicker}/prev
    - paths:
      - /v1/open-close/{indicesTicker}/{date}
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{indicesTicker}
      - /v1/indicators/ema/{indicesTicker}
      - /v1/indicators/macd/{indicesTicker}
      - /v1/indicators/rsi/{indicesTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/indices
      - /v3/snapshot
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
  options:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v1/open-close/{optionsTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{optionsTicker}/prev
    - paths:
      - /v3/trades/{optionsTicker}
    - paths:
      - /v2/last/trade/{optionsTicker}
    - paths:
      - /v3/quotes/{optionsTicker}
    - group: Snapshots
      paths:
      - /v3/snapshot/options/{underlyingAsset}/{optionContract}
      - /v3/snapshot/options/{underlyingAsset}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{optionsTicker}
      - /v1/indicators/ema/{optionsTicker}
      - /v1/indicators/macd/{optionsTicker}
      - /v1/indicators/rsi/{optionsTicker}
    reference:
    - paths:
      - /v3/reference/options/contracts/{options_ticker}
    - paths:
      - /v3/reference/options/contracts
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
  stocks:
    market:
    - launchpad: shared
      paths:
      - /v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}
    - launchpad: exclusive
      paths:
      - /v1/summaries
    - paths:
      - /v2/aggs/grouped/locale/us/market/stocks/{date}
    - paths:
      - /v1/open-close/{stocksTicker}/{date}
    - paths:
      - /v2/aggs/ticker/{stocksTicker}/prev
    - paths:
      - /v3/trades/{stockTicker}
    - paths:
      - /v2/ticks/stocks/trades/{ticker}/{date}
    - paths:
      - /v2/last/trade/{stocksTicker}
    - paths:
      - /v3/quotes/{stockTicker}
    - paths:
      - /v2/ticks/stocks/nbbo/{ticker}/{date}
    - paths:
      - /v2/last/nbbo/{stocksTicker}
    - group: Snapshots
      paths:
      - /v2/snapshot/locale/us/markets/stocks/tickers
      - /v2/snapshot/locale/us/markets/stocks/{direction}
      - /v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}
      - /v3/snapshot
    - group: Technical Indicators
      paths:
      - /v1/indicators/sma/{stockTicker}
      - /v1/indicators/ema/{stockTicker}
      - /v1/indicators/macd/{stockTicker}
      - /v1/indicators/rsi/{stockTicker}
    reference:
    - paths:
      - /v3/reference/tickers
    - paths:
      - /v1/meta/symbols/{stocksTicker}/company
    - paths:
      - /v3/reference/tickers/{ticker}
    - paths:
      - /vX/reference/tickers/{id}/events
    - paths:
      - /v2/reference/news
    - paths:
      - /v3/reference/tickers/types
    - paths:
      - /vX/reference/tickers/taxonomies
    - paths:
      - /v1/marketstatus/upcoming
    - paths:
      - /v1/marketstatus/now
    - group: SEC Filings
      paths:
      - /v1/reference/sec/filings
      - /v1/reference/sec/filings/{filing_id}
      - /v1/reference/sec/filings/{filing_id}/files
      - /v1/reference/sec/filings/{filing_id}/files/{file_id}
    - paths:
      - /v3/reference/splits
    - paths:
      - /v3/reference/dividends
    - paths:
      - /vX/reference/financials
    - paths:
      - /v3/reference/conditions
    - paths:
      - /v3/reference/exchanges
    - paths:
      - /v1/related-companies/{ticker}
    - paths:
      - /vX/reference/ipos
    - paths:
      - /vX/reference/short-interest/{identifier_type}/{identifier}
    - paths:
      - stocks/vX/listings
      - stocks/vX/listing/{identifier_type}/{identifier}
      - stocks/vX/listings/updates
